{% block title%} Modificar contraseña confirmado {% endblock%}

{% block content%}
<div  class = " PasswordChangeDone ">
    <h3> Constraseña modificada exitosamente </h3>
    <a  href = " {% url 'Dashboard' %} "  clase = " btn btn-tema " > Volver a mi panel de control </a>
</div>

{% endblock%}
