{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1 style="margin: 10px auto">Nueva contraseña:</h1>

<form method="post">
{% csrf_token %}
<div style=" ">
{{ form.new_password1.errors }}
<label style="margin: 7px 23px;" for="id_new_password1">Nueva contraseña:</label> {{ form.new_password1 }}
</div> <br>
<div>
{{ form.new_password2.errors }}
<label style="margin: 7px 12px;" for="id_new_password2">Confirmar contraseña:</label> {{ form.new_password2 }}
</div><br>
<input style="float: right; margin: 20px 625px;" type="submit" value="Cambiar mi contraseña" />
</form>

{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

{% endblock %}
