{% extends 'base/base.html' %}
{% block navbar%}
{% endblock %}

{% block content %}
<div class="container">
<h3 style="margin: -30px -50px;">Restablecer contraseña: </h3>
<p style="margin: 50px -50px;">Ingrese su correo electronico y le enviaremos las intrucciones para recuperar su contraseña.</p>
<div class="PasswordResetForm">
	<div class="row">
		<div style="margin: -20px -50px;" class="col-md-4 offset-md-4">

			<form method="post">
				{% csrf_token %}

				{% if form.non_field_errors %}
						<div class="form-group">
							{{ form.non_field_errors}}
						</div>
				{% endif %}
			{% for field in form.visible_fields %}
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
					{{ field.errors }}
					<div class="helpText">{{ field.help_text|safe }}</div>
				</div>
				{% endfor %}
					<button style=" margin: 7px 125px;" type="submit" class="btn btn-default">Recuperar Contraseña</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
