{% extends 'base/base.html' %}
{% block title %}Recuperar contraseña hecho{% endblock %}


{% block content %}
<section class="PasswordResetDone">
    <h3 style="text-align: center;">Recuperación de contraseña.</h3>

    <p style="text-align: center;">Hemos enviado un correo electrónico con las instrucciones para recuperar su contrsaseña</p>

    <a href="{% url 'login' %}" style="float: right; margin: 100px 625px;"class="btn btn-primary">Página principal</a>
</section>
{% endblock %}
