{% load static %}
{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-timepicker.min.css' %}">

    <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <!--<link href="//fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block css %} {% endblock %}

  <title>{% block title %}Iglesia Jesucristo mi Esperanza{% endblock %}</title>
  <style type="text/css" media="screen">

      .navbar-nav li a:hover, .navbar-nav li.active a {
          color: white !important;                                                 /*color de la letra seleccionada a9a9a9*/
          background-color: transparent !important;                                /*color de fondo de la seleccion*/
          font-size: 105%;                                                         /*agranda el texto al pasar el mouse*/
          /*border-bottom: 1px solid #58FAD0;*/                                    /*agrega un subrayado al pasar el mouse*/
          /*border-left: 4px solid #F86B0D;*/
        }

      .navbar-nav li a:focus {
          color: white !important;                                                 /*para que al hacer click*/
          background-color: transparent !important;                                /*no quede el fondo de otro color*/
        }

      .dropdown li a {
          color: #ffffff !important;                                               /*color de la letra del dropdown*/
        }

      .dropdown li a:hover {
          color: grey !important;                                                  /*color de la letra del dropdown al pasar el mouse*/
        }

        ul li:hover ul {display: block;}                                           /*mostrar dropdown escondido al pasar el mouse*/

      .navbar-default .dropdown-menu {
          background-color: #000000; /*#fcfcfc;                                      /*fondo dropdown*/
        }

      .navbar-default {
          background-color: #000000 !important; /*#fcfcfc;                         /*fondo navbar*/
          /*opacity: 0.80;*/
        /*  border-bottom: 2px solid #a9a9a9;*/
        }

      #contenedor{
        margin: 20px!important;
       }

      .navbar .navbar-nav {                                                        /*para alinear al centro...*/
        display: inline-block;
        float: none;
        vertical-align: top;
      }

      .navbar .navbar-collapse {
        text-align: center;
      }                                                                            /*...para alinear al centro*/

    .navbar-toggle:hover {                                                       /*para icono de extender menu al minimizar tamaño pagina..*/
        background: black !important;
      }
    .navbar-toggle:focus {                                                       /*para icono de extender menu al minimizar tamaño pagina...*/
      	background: black !important;
      }
      /*
      .navbar-toggle:hover .icon-bar {
        	background: black !important;
        }

      .navbar-toggle:focus .icon-bar {
        	background: white !important;
        }

      .navbar-toggle .icon-bar {
        	background: white !important;
        }                                                                          /*...para icono de extender menu al minimizar tamaño pagina*/

      .navbar-brand:hover .glyphicon-home {                                        /*icono casita en naranja al pasar mouse*/
          color: white !important;
          font-size: 105%;
        }

      th { text-align: center !important; }

    </style>


</head>
<body data-spy="scroll" data-target="#navbar-example">

  <!--<div id="preloader"></div>-->
<!--navbar original-->
{% block navbar %}
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                  <nav class="navbar navbar-default navbar-fixed-top">
                      <div class="container-fluid">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'portada:post_list' %}"><span class="glyphicon glyphicon-home"></a>
                          </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                              <li class="dropdown">
                                {% if perms.persona.add_persona or perms.persona.ver_detalle %}
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Personas<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                      {% if perms.persona.add_persona  %}
                                          <li><a href={% url 'persona:persona_crear' %}>Registrar persona</a></li>
                                      {% endif %}
                                      {% if perms.persona.ver_detalle %}
                                        <li><a href={% url 'persona:persona_listar' %}>Detalle personas</a></li>
                                      {% endif %}
                                          </ul>
                                  {% endif %}
                                </li>
                              <li class="dropdown">
                                {% if perms.movimiento_dinero.add_movimiento_dinero or perms.movimiento_dinero.ver_detalle_movimiento_dinero %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Movimientos de dinero<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  {% if perms.movimiento_dinero.add_movimiento_dinero  %}
                                      <li><a href={% url 'movimiento:movimiento_crear' %}>Registrar movimiento</a></li>
                                  {% endif %}
                                  {% if perms.movimiento_dinero.ver_detalle_movimiento_dinero %}
                                      <li><a href={% url 'movimiento:movimiento_listar' %}>Detalle movimientos</a></li>
                                  {% endif %}
                                </ul>
                                {% endif %}
                              </li>
                              <li class="dropdown">
                                {% if perms.discipulado.add_discipulado or perms.discipulado.ver_detalle_discipulado %}
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Discipulados<span class="caret"></span></a>
                                  <ul class="dropdown-menu" role="menu">
                                    {% if perms.discipulado.add_discipulado  %}
                                      <li><a href={% url 'discipulado:discipulado_crear' %}>Registrar discipulado</a></li>
                                    {% endif %}
                                    {% if perms.discipulado.ver_detalle_discipulado %}
                                      <li><a href={% url 'discipulado:discipulado_listar' %}>Detalle discipulados</a></li>
                                    {% endif %}
                                  </ul>
                                {% endif %}
                              </li>
                              <li class="dropdown">
                               {% if perms.ministerio.add_ministerios or perms.ministerio.ver_detalle_ministerio %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ministerios<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  {% if perms.ministerio.add_ministerios  %}
                                       <li><a href={% url 'ministerio:ministerio_crear' %}>Registrar ministerio</a></li>
                                  {% endif %}
                                  {% if perms.ministerio.ver_detalle_ministerio %}
                                      <li><a href={% url 'ministerio:ministerio_listar' %}>Detalle ministerios</a></li>
                                  {% endif %}
                                </ul>
                                {% endif %}
                              </li>
                              <li class="dropdown">
                                {% if perms.celula.add_celula or perms.celula.ver_detalle_celula %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Celulas<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  {% if perms.celula.add_celula  %}
                                       <li><a href={% url 'celula:celula_crear' %}>Registrar celula</a></li>
                                  {% endif %}
                                  {% if perms.celula.ver_detalle_celula %}
                                       <li><a href={% url 'celula:celula_listar' %}>Detalle celulas</a></li>
                                  {% endif %}
                                </ul>
                                {% endif %}
                              </li>
                              <li class="dropdown">
                                {% if perms.evento.add_evento or perms.evento.ver_detalle_evento %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eventos<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  {% if perms.evento.add_evento %}
                                    <li><a href={% url 'evento:evento_crear' %}>Registrar evento</a></li>
                                  {% endif %}
                                  {% if perms.evento.ver_detalle_evento %}
                                    <li><a href={% url 'evento:evento_listar' %}>Detalle eventos</a></li>
                                  {% endif %}
                                </ul>
                                {% endif %}
                              </li>
                              <li class="dropdown">
                                {% if perms.inventario.add_articulo or perms.inventario.ver_detalle_inventario %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inventario<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  {% if perms.inventario.add_articulo %}
                                    <li><a href={% url 'articulo:articulo_crear' %}>Registrar inventario</a></li>
                                  {% endif %}
                                  {% if perms.entrada.add_entrada %}
                                    <li><a href={% url 'entrada:entrada_crear' %}>Registrar entrada</a></li>
                                  {% endif %}
                                  {% if perms.salida.add_salida %}
                                    <li><a href={% url 'salida:salida_crear' %}>Registrar salida</a></li>
                                  {% endif %}
                                  {% if perms.inventario.ver_detalle_inventario %}
                                    <li><a href={% url 'articulo:articulo_listar' %}>Detalle inventarios</a></li>
                                  {% endif %}
                                  {% if perms.entrada.ver_detalle_entrada or perms.salida.ver_detalle_salida %}
                                    <li><a href={% url 'entradasalida:entradasalida_listar' %}>Detalle entradas y salidas</a></li>
                                  {% endif %}
                                <!--  {% if perms.entrada.ver_detalle_entrada %}
                                    <li><a href={% url 'entrada:entrada_listar' %}>Detalle entradas</a></li>
                                  {% endif %}
                                  {% if perms.salida.ver_detalle_salida %}
                                    <li><a href={% url 'salida:salida_listar' %}>Detalle salidas</a></li>
                                  {% endif %}-->
                                </ul>
                                {% endif %}
                              </li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                              <!--</li>-->
                              <li class="dropdown">
                                <span></span></a
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Cerrar </a></li>
                                    <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench"></span> Admin </a></li>
                                </ul>
                              </li>
                          </ul>
                        </div>
                    </div>
                </nav>
            </div>
            </div>
        </div>
    </div>


  {% endblock %}
<!--fin navbar original-->

{% block content %}

{% endblock %}

{% block footer %}
{% endblock %}
<!-- copiado a la portada-->
<!-- Start Slider Area -->

  <!--<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->
<!--fin copiado a la portada-->
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>

  {% block extrajs %}
  {% endblock %}

</body>
</html>
