{% extends 'base/base.html' %}
{% block title %}
	Detalle de Categorias
{% endblock %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre Categoria</td>
			<td>Tipo movimiento</td>

		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for p in object_list %}
		<tr>
			<td>{{ p.nombre_categoria }}</td>
			<td>{{ p.tipo_movimiento }}</td>


			<td>
				<a class="btn btn-primary" href="{% url 'categoria:categoria_editar' p.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'categoria:categoria_eliminar' p.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
			<td colspan="13">
				No hay categorías
			</td>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% endblock%}
