<!--{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar el registro {{ object.nombre_unidad }}?</h3>
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-default" href="{% url 'unidad_de_medida:unidad_de_medida_listar' %}">Cancelar</a>
</form>
{% endblock %}
-->
