{% if discipulados %}
{% for discipulado in discipulados %}
<tr>
  <td>{{ discipulado.nombre_material_discipulado }}</td>
  <td>{{ discipulado.discipulador }}</td>
  <td>{{ discipulado.persona }}</td>
  <td>{{ discipulado.fecha_fin }}</td>
  {%block campobajadiscipulado%}
  {%endblock%}
  <td>
    {% if discipulado.fecha_baja_discipulado == null %}
      {% if perms.discipulado.change_discipulado %}
        <a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'discipulado:discipulado_editar' discipulado.id%}">Editar</a>
      {% endif %}
      {% if perms.discipulado.delete_discipulado %}
        <a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'discipulado:discipulado_eliminar' discipulado.id%}">Eliminar</a>
      {% endif %}
    {%endif%}
    {%block pruebadiscipulado%}
    {%endblock%}
  </td>
</tr>
{% endfor %}

{% else %}
  <td colspan="13">
    No hay discipulados
  </td>
{% endif %}
