{% extends 'base/base.html' %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/discipulado/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nombre del material</th>
			<th>Discipulador</th>
			<th>Discípulo</th>
			<th>Fecha fin discipulado</th>
		</tr>
	</thead>
	<tbody>
		{% if discipulados1 %}
		{% for dis1 in discipulados1 %}
		<tr>
			<td>{{ dis1.nombre_material_discipulado }}</td>
			<td>{{ dis1.discipulador }}</td>
			<td>{{ dis1.persona }}</td>
			<td>{{ dis1.fecha_fin }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'discipulado:discipulado_editar' dis1.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'discipulado:discipulado_eliminar' dis1.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% elif discipulados2 %}
		{% for dis2 in discipulados2 %}
		<tr>
			<td>{{ dis2.nombre_material_discipulado }}</td>
			<td>{{ dis2.discipulador  }}</td>
			<td>{{ dis2.persona  }}</td>
			<td>{{ dis2.fecha_fin }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'discipulado:discipulado_editar' dis2.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'discipulado:discipulado_eliminar' dis2.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% elif discipulados3 %}
		{% for dis3 in discipulados3 %}
		<tr>
			<td>{{ dis3.nombre_material_discipulado }}</td>
			<td>{{ dis3.discipulador  }}</td>
			<td>{{ dis3.persona  }}</td>
			<td>{{ dis3.fecha_fin }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'discipulado:discipulado_editar' dis3.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'discipulado:discipulado_eliminar' dis3.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% elif discipulados4 %}
		{% for dis4 in discipulados4 %}
		<tr>
			<td>{{ dis4.nombre_material_discipulado }}</td>
			<td>{{ dis4.discipulador }}</td>
			<td>{{ dis4.persona }}</td>
			<td>{{ dis4.fecha_fin }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'discipulado:discipulado_editar' dis4.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'discipulado:discipulado_eliminar' dis4.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No hay discipulados registrados</h1>
		{% endif %}
  	</tbody>
  </table>
  <ul class="pager">
  	<li>
  		{% if page_obj.has_previous %}
         	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  		{% endif %}
    </li>
  	<li>
  		{% if page_obj.has_next %}
       	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

      	{% endif %}
    </li>
  </ul>

  {% endblock%}
