{% extends 'discipulado/discipulado_listar.html' %}
{% if perms.discipulado.add_discipulado %}

	{%block encabezado%}
		<h2>Discipulados dados de baja:</h2>
	{%endblock%}

	{%block titulobajadiscipulado%}
		<th>Fecha Baja</th>
	{%endblock%}

	{%block campobajadiscipulado%}
		<td>{{ discipulado.fecha_baja_discipulado }}</td>
	{%endblock%}

	{%block pruebadiscipulado%}
		<a class="btn btn-primary" style="line-height: 15px" href="{% url 'discipulado:discipulado_restaurar' discipulado.id%}">Restaurar</a>
	{%endblock%}

	{% block botonfinaldiscipulado %}
		<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'discipulado:discipulado_listar' %}">Volver</a>
	{% endblock%}

	{% block buscardiscupulado %}
	{% endblock%}
{% endif %}
