{% extends 'base/base.html' %}
{% block title %}
	Detalle de Discipulados
{% endblock %}

{% block content %}

<!--boton buscar -->
<!--
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/discipulado/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar -->
{%block encabezado%}
	<h2>Discipulados:</h2>
{%endblock%}
{% block buscardiscupulado %}
<div id="contenedor" >
	<th>Buscar: </th>
			<input class="form-control-sm" id="buscar-discipulador" type="text" placeholder="Discipulador"/>
      <input class="form-control-sm" id="buscar-persona" type="text" placeholder="Discípulo"/>
</div>
{%endblock%}
<h1></h1>
<table id="contenedor" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre del material</th>
			<th>Discipulador</th>
			<th>Discípulo</th>
			<th>Fecha fin discipulado</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if discipulados %}
		{% for discipulado in discipulados %}
		<tr>
			<td>{{ discipulado.nombre_material_discipulado |title }}</td>
			<td>{{ discipulado.discipulador |title }}</td>
			<td>{{ discipulado.persona |title }}</td>
			<td>{{ discipulado.fecha_fin }}</td>
			{%block campobajadiscipulado%}
			{%endblock%}
			<td>
				{% if discipulado.fecha_baja_discipulado == null %}
					{% if perms.discipulado.change_discipulado %}
						<a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'discipulado:discipulado_editar' discipulado.id%}">Editar</a>
					{% endif %}
					{% if perms.discipulado.delete_discipulado %}
						<a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'discipulado:discipulado_eliminar' discipulado.id%}">Eliminar</a>
					{% endif %}
				{%endif%}
				{%block pruebadiscipulado%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<td colspan="13">
				No hay discipulados
			</td>
		{% endif %}
	</tbody>
</table>
<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
  </li>
</ul>

{% block botonfinaldiscipulado %}
	{% if perms.discipulado.delete_discipulado %}
		<a id="contenedor" class="btn btn-danger" style="line-height: 15px" href="{% url 'discipulado:discipulado_listar_baja' %}">Ver  registros eliminados</a>
	{% endif %}
{%endblock%}
{% endblock%}
{% block extrajs %}
<script>
$('#buscar-discipulador').keyup(function (event) {
	var query =($('#buscar-discipulador').val());
	if ( $.trim( $('#buscar-discipulador').val() ) != '' ) {
		ajax(query,"buscardiscipulador/");
		esconderMain();
	}
	else {
		mostrarMain();
	}
});

$('#buscar-persona').keyup(function (event) {
  var query =($('#buscar-persona').val());
  if ( $.trim( $('#buscar-persona').val() ) != '' ) {
		ajax(query,"buscarpersonadicipulada/");
		esconderMain();
  }
  else {
		mostrarMain();
  }
});


function mostrarMain(){
$('#resultado-busqueda').hide();
$('#main').show("slow");
}
function esconderMain(){
$('#resultado-busqueda').show("slow");
$('#main').hide();
}

function ajax(query,url){
console.log(query);
$.ajax({
	 type: 'GET',
	 url: url,
	 data: {
		 'csrfmiddlewaretoken': '{{ csrf_token }}',
		 'q': query,
	 },
	 success: function(data) {
		 console.log(data);
			$('#resultado-busqueda').html(data);
	 },
	 error: function(data) {
			console.log(data);
	 }
 });
}

</script>

{% endblock %}
