{% extends 'base/base.html' %}

{% block title %}
	Discipulados
{% endblock %}

{% block content %}
	{% if perms.discipulado.add_discipulado %}
	<h2>Registrar discipulado:</h2>
		<div class="mb-2">
			<form autocomplete="off" method="post">
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<div style="float: left; margin: 27px 17px;">
					<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
					<a class="btn btn-danger" style="line-height: 15px" href="{% url 'discipulado:discipulado_listar' %}">Cancelar</a>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}

{% block extrajs %}
	<script>
		$('#id_fecha_fin').datepicker({
			todayBtn: "linked",
			format: 'dd-mm-yyyy',
			endDate: '0d',
			language: 'es',
		})
	</script>
{% endblock %}
