{% extends 'base/base.html' %}

{% block content %}
	{% if perms.discipulado.delete_discipulado %}
		<form style="margin: 80px auto auto 20px" method="post">
			{% csrf_token %}
			<h3>¿Desea eliminar el discipulado de {{ discipulado.persona.nombre}} {{ discipulado.persona.apellido_persona}}?</h3>
			<button class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
			<a class= "btn btn-default" style="line-height: 15px" href="{% url 'discipulado:discipulado_listar' %}">Cancelar</a>
		</form>
	{% endif %}
{% endblock %}
