{% if personas %}
  {% for persona in personas %}
    <tr>
      <td>{{ persona.apellido_persona|title  }}</td>
      <td>{{ persona.nombre|title }}</td>
      <td>{{ persona.dni }}</td>
      <td>{{ persona.fecha_nacimiento }}</td>
      <td>{{ persona.sexo }}</td>
      <td>{{ persona.celular }}</td>
      <td>{{ persona.direccion|capfirst }}</td>
      <td>{{ persona.nro_casa|capfirst }}</td>
      <td>{{ persona.piso|capfirst }}</td>
      <td>{{ persona.departamento|capfirst }}</td>
      <!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
      <td>{{ persona.localidad|capfirst }}</td>
      <td>{{ persona.estado_civil }}</td>
      <td>{{ persona.profesion|capfirst }}</td>
      <td>{{ persona.bautizado }}</td>
      <td>{{ persona.escuela_biblica }}</td>
      <td>{{ persona.encuentro }}</td>
      {%block campobaja%}
      {%endblock%}
      <td>
      {% if persona.fecha_baja_persona == null %}
        {% if perms.persona.change_persona %}
          <a class="btn btn-primary" style="width: 80px; line-height: 5px; margin: 5px auto;padding: 10px;" href="{% url 'persona:persona_editar' persona.id%}">Editar</a>
        {% endif %}
        {% if perms.persona.delete_persona %}
          <a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'persona:persona_eliminar' persona.id%}">Eliminar</a>
        {% endif %}
      {%endif%}
      {%block prueba%}
      {%endblock%}
      </td>
      </tr>
  {% endfor %}
{% else %}
  <td colspan="13">
      No hay personas
  </td>
{% endif %}
