{% extends 'base/base.html' %}
{% block title %}
	Detalle de Personas
{% endblock %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/persona/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Fecha de Nacimiento</th>
			<th>Sexo</th>
			<th>Celular</th>
			<th>Direccion</th>
			<!--<td>Matrimonio</td> -->
			<th>Localidad</th>
			<th>Estado Civil</th>
			<th>Profesión</th>
			<th>Bautizado</th>
			<th>Escuela Bíblica</th>
			<th>Encuentro</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if personas1 %}
		{% for per1 in personas1 %}
		<tr>
			<td>{{ per1.nombre }}</td>
			<td>{{ per1.apellido_persona }}</td>
			<td>{{ per1.fecha_nacimiento }}</td>
			<td>{{ per1.sexo }}</td>
			<td>{{ per1.celular }}</td>
			<td>{{ per1.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per1.localidad }}</td>
			<td>{{ per1.estado_civil }}</td>
			<td>{{ per1.profesion }}</td>
			<td>{{ per1.bautizado }}</td>
			<td>{{ per1.escuela_biblica }}</td>
			<td>{{ per1.encuentro }}</td>
			<td>
			  {% if per1.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per1.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per1.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas2 %}
		{% for per2 in personas2 %}
		<tr>
			<td>{{ per2.nombre }}</td>
			<td>{{ per2.apellido_persona }}</td>
			<td>{{ per2.fecha_nacimiento }}</td>
			<td>{{ per2.sexo }}</td>
			<td>{{ per2.celular }}</td>
			<td>{{ per2.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per2.localidad }}</td>
			<td>{{ per2.estado_civil }}</td>
			<td>{{ per2.profesion }}</td>
			<td>{{ per2.bautizado }}</td>
			<td>{{ per2.escuela_biblica }}</td>
			<td>{{ per2.encuentro }}</td>
			<td>
			  {% if per2.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per2.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per2.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas3 %}
		{% for per3 in personas3 %}
		<tr>
			<td>{{ per3.nombre }}</td>
			<td>{{ per3.apellido_persona }}</td>
			<td>{{ per3.fecha_nacimiento }}</td>
			<td>{{ per3.sexo }}</td>
			<td>{{ per3.celular }}</td>
			<td>{{ per3.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per3.localidad }}</td>
			<td>{{ per3.estado_civil }}</td>
			<td>{{ per3.profesion }}</td>
			<td>{{ per3.bautizado }}</td>
			<td>{{ per3.escuela_biblica }}</td>
			<td>{{ per3.encuentro }}</td>
			<td>
			  {% if per3.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per3.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per3.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas4 %}
		{% for per4 in personas4 %}
		<tr>
			<td>{{ per4.nombre }}</td>
			<td>{{ per4.apellido_persona }}</td>
			<td>{{ per4.fecha_nacimiento }}</td>
			<td>{{ per4.sexo }}</td>
			<td>{{ per4.celular }}</td>
			<td>{{ per4.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per4.localidad }}</td>
			<td>{{ per4.estado_civil }}</td>
			<td>{{ per4.profesion }}</td>
			<td>{{ per4.bautizado }}</td>
			<td>{{ per4.escuela_biblica }}</td>
			<td>{{ per4.encuentro }}</td>
			<td>
			  {% if per4.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per4.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per4.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas5 %}
		{% for per5 in personas5 %}
		<tr>
			<td>{{ per5.nombre }}</td>
			<td>{{ per5.apellido_persona }}</td>
			<td>{{ per5.fecha_nacimiento }}</td>
			<td>{{ per5.sexo }}</td>
			<td>{{ per5.celular }}</td>
			<td>{{ per5.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per5.localidad }}</td>
			<td>{{ per5.estado_civil }}</td>
			<td>{{ per5.profesion }}</td>
			<td>{{ per5.bautizado }}</td>
			<td>{{ per5.escuela_biblica }}</td>
			<td>{{ per5.encuentro }}</td>
			<td>
			  {% if per5.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per5.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per5.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas6 %}
		{% for per6 in personas6 %}
		<tr>
			<td>{{ per6.nombre }}</td>
			<td>{{ per6.apellido_persona }}</td>
			<td>{{ per6.fecha_nacimiento }}</td>
			<td>{{ per6.sexo }}</td>
			<td>{{ per6.celular }}</td>
			<td>{{ per6.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per6.localidad }}</td>
			<td>{{ per6.estado_civil }}</td>
			<td>{{ per6.profesion }}</td>
			<td>{{ per6.bautizado }}</td>
			<td>{{ per6.escuela_biblica }}</td>
			<td>{{ per6.encuentro }}</td>
			<td>
			  {% if per6.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per6.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per6.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas7 %}
		{% for per7 in personas7 %}
		<tr>
			<td>{{ per7.nombre }}</td>
			<td>{{ per7.apellido_persona }}</td>
			<td>{{ per7.fecha_nacimiento }}</td>
			<td>{{ per7.sexo }}</td>
			<td>{{ per7.celular }}</td>
			<td>{{ per7.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per7.localidad }}</td>
			<td>{{ per7.estado_civil }}</td>
			<td>{{ per7.profesion }}</td>
			<td>{{ per7.bautizado }}</td>
			<td>{{ per7.escuela_biblica }}</td>
			<td>{{ per7.encuentro }}</td>
			<td>
			  {% if per7.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per7.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per7.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas8 %}
		{% for per8 in personas8 %}
		<tr>
			<td>{{ per8.nombre }}</td>
			<td>{{ per8.apellido_persona }}</td>
			<td>{{ per8.fecha_nacimiento }}</td>
			<td>{{ per8.sexo }}</td>
			<td>{{ per8.celular }}</td>
			<td>{{ per8.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per8.localidad }}</td>
			<td>{{ per8.estado_civil }}</td>
			<td>{{ per8.profesion }}</td>
			<td>{{ per8.bautizado }}</td>
			<td>{{ per8.escuela_biblica }}</td>
			<td>{{ per8.encuentro }}</td>
			<td>
			  {% if per8.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per8.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per8.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% elif personas9 %}
		{% for per9 in personas9 %}
		<tr>
			<td>{{ per9.nombre }}</td>
			<td>{{ per9.apellido_persona }}</td>
			<td>{{ per9.fecha_nacimiento }}</td>
			<td>{{ per9.sexo }}</td>
			<td>{{ per9.celular }}</td>
			<td>{{ per9.direccion }}</td>
			<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
			<td>{{ per9.localidad }}</td>
			<td>{{ per9.estado_civil }}</td>
			<td>{{ per9.profesion }}</td>
			<td>{{ per9.bautizado }}</td>
			<td>{{ per9.escuela_biblica }}</td>
			<td>{{ per9.encuentro }}</td>
			<td>
			  {% if per9.fecha_baja_persona == null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' per9.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' per9.id%}">Eliminar</a>
				{%endif%}
			</td>
    </tr>
    {% endfor %}
		{% else %}
  	<h1>No hay personas</h1>
  	{% endif %}
  </tbody>
</table>
<ul class="pager">
	<li>
  	{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  	{% endif %}
  </li>
	<li>
  	{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{%block botonfinal%}
<a class="btn btn-default" href="{% url 'persona:persona_listar_baja' %}">Ver  registros eliminados</a>
{%endblock%}
{% endblock%}
