% extends 'persona/persona_list.html' %}
{% if perms.persona.delete_persona %}


{%block encabezado%}
	<h2>Personas dadas de baja:</h2>
{%endblock%}

{%block titulobaja%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobaja%}
	<td>{{ persona.fecha_baja_persona }}</td>
{%endblock%}

{%block prueba%}
	<a class="btn btn-primary" style="width: 80px; line-height: 5px; margin: 5px auto;padding: 10px;" href="{% url 'persona:persona_restaurar' persona.id%}">Restaurar</a>
{%endblock%}

{% block botonfinal %}
	<a class="btn btn-default" style="line-height: 15px" href="{% url 'persona:persona_listar' %}">Volver</a>
{% endblock%}

{% block buscadorpersona %}
	<th>Buscar: </th>
      	<input class="form-control-sm" id="buscar-nombre-baja" type="text" placeholder="Apellido o nombre"/>
      	<input class="form-control-sm" id="buscar-dni-baja" type="text" placeholder="DNI"/>
{% endblock%}
{% endif %}
