{% extends 'base/base.html' %}

{% block content %}
{% if perms.persona.delete_persona %}
	<form method="post">
		{% csrf_token %}
		<h3 style="margin:80px auto auto 20px;">¿Desea eliminar a {{ persona.nombre }} {{ persona.apellido_persona }}?</h3>
		<button id="contenedor" class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
		<a class= "btn btn-default" style="line-height: 15px" href="{% url 'persona:persona_listar' %}">Cancelar</a>
	</form>
{% endif %}
{% endblock %}
