{% extends 'base/base.html' %}

{% block title %}
	Alta Persona
{% endblock %}

{% block content %}

{% if perms.persona.add_persona %}
<h2>Registrar persona:</h2>
	<div class="mb-2">
		<form autocomplete="off" method="post" id="alta_persona" >
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<div id="id_radio" style="float: left; margin: 27px 17px;">
				<input id="localidadR" type="radio" name="localidadRadio"  value="Sunchales"> Sunchales <br>
				<input id="otraR" type="radio" name="localidadRadio" value="Otra"> Otra
			</div>
			<div style="float: right; margin: 27px 17px;">
				<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
				<a class="btn btn-danger" style="line-height: 15px" href="{% url 'persona:persona_listar' %}">Cancelar</a>
			</div>
		</form>
	</div>
{% endif %}

{% endblock %}
{% block extrajs %}
<script>
	$('#id_fecha_nacimiento').datepicker({
		todayBtn: "linked",
		format: 'dd-mm-yyyy',
		endDate: '0d',
		language: 'es',
		autoclose: true,
	})

	var localidad = document.getElementById('id_localidad')
	localidad.style.display = "none";
	$(document).ready(function(){
		if (localidad.value == "Sunchales"){
			localidad.style.display = "none";
			document.getElementById('localidadR').checked = true;
			$("#locRadio").css({'margin-left': '-350px'});
		}else{
			localidad.style.display = "block";
			document.getElementById('otraR').checked = true;
		}
	});

	document.getElementById('localidadR').onclick = function ocultar(){
		$("#locRadio").css({'margin-left': '-350px'});
		localidad.style.display = "none";
		localidad.value = "Sunchales";
	}
	document.getElementById('otraR').onclick = function mostrar(){
		$("#locRadio").css({'margin': '27px 17px'});
		localidad.value = "";
		localidad.style.display = "block";
		otraLocalidad = getElementById('otraR').value;
		otraLocalidad.value = localidad.value;
	}



</script>

{% endblock %}
