{% extends 'persona/persona_list.html' %}
{% if perms.persona.delete_persona %}


{%block encabezado%}
	<h2>Personas dadas de baja:</h2>
{%endblock%}

{%block titulobaja%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobaja%}
	<td>{{ persona.fecha_baja_persona }}</td>
{%endblock%}

{%block prueba%}
	<a class="btn btn-primary" style="width: 80px; line-height: 5px; margin: 5px auto;padding: 10px 5px;" href="{% url 'persona:persona_restaurar' persona.id%}">Restaurar</a>
{%endblock%}

{% block botonfinal %}
	<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'persona:persona_listar' %}">Volver</a>
{% endblock%}

{% block buscadorpersona %}
<div id="contenedor" >
	<th>Buscar: </th>
      	<input class="form-control-sm" id="buscar-nombre-baja" type="text" placeholder="Apellido o nombre"/>
      	<input class="form-control-sm" id="buscar-dni-baja" type="text" placeholder="DNI"/>
</div>

</div>
{% endblock%}

{% block extrajs %}
<script>
	$('#buscar-nombre-baja').keyup(function (event) {
	  var query =($('#buscar-nombre-baja').val());
	  if ( $.trim( $('#buscar-nombre-baja').val() ) != '' ) {
			ajax(query,"buscarnombrepersona/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});

	$('#buscar-dni-baja').keyup(function (event) {
	  var query =($('#buscar-dni-baja').val());
	  if ( $.trim( $('#buscar-dni-baja').val() ) != '' ) {
			ajax(query,"buscardnipersona/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});


function mostrarMain(){
	$('#resultado-busqueda').hide();
	$('#main').show("slow");
}
function esconderMain(){
	$('#resultado-busqueda').show("slow");
	$('#main').hide();
}

function ajax(query,url){
	$.ajax({
		 type: 'GET',
		 url: url,
		 data: {
			 'csrfmiddlewaretoken': '{{ csrf_token }}',
			 'q': query,
			 baja: "Si",
		 },
		 success: function(data) {
			 console.log(data);
				$('#resultado-busqueda').html(data);
		 },
		 error: function(data) {
				console.log(data);
		 }
	 });
}

</script>

{% endblock %}
{% endif %}
