{% extends 'base/base.html' %}
{% block title %}
	Detalle de Personas
{% endblock %}

{% block content %}

<!--boton buscar ---->
<!--
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/persona/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

{%block encabezado%}
	<h2>Personas:</h2>
{%endblock%}

{% block buscadorpersona %}
<div id="contenedor" >
	<th>Buscar: </th>
      <input class="form-control-sm" id="buscar-nombre" type="text" placeholder="Apellido o nombre"/>
      <input class="form-control-sm" id="buscar-dni" type="text" placeholder="DNI"/>
</div>
{%endblock%}<h1></h1>
<table id="contenedor" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Apellido</th>
			<th>Nombre</th>
			<th>DNI</th>
			<th>Fecha de Nacimiento</th>
			<th>Sexo</th>
			<th>Celular</th>
			<th>Calle</th>
			<th>N°</th>
			<th>Piso</th>
			<th>Dpto</th>
			<!--<td>Matrimonio</td> -->
			<th>Localidad</th>
			<th>Estado Civil</th>
			<th>Profesión</th>
			<th>Bautizado</th>
			<th>Escuela Bíblica</th>
			<th>Encuentro</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if personas %}
			{% for persona in personas %}
				<tr>
					<td width="100%" nowrap>{{ persona.apellido_persona|title  }}</td>
					<td width="100%" nowrap>{{ persona.nombre|title }}</td>
					<td width="100%" nowrap>{{ persona.dni }}</td>
					<td width="100%" nowrap>{{ persona.fecha_nacimiento }}</td>
					<td width="100%" nowrap>{{ persona.sexo }}</td>
					<td width="100%" nowrap>{{ persona.celular }}</td>
      		<td width="100%" nowrap>{{ persona.direccion|capfirst }}</td>
					<td width="100%" nowrap>{{ persona.nro_casa|capfirst }}</td>
					<td width="100%" nowrap>{{ persona.piso|capfirst }}</td>
					<td width="100%" nowrap>{{ persona.departamento|capfirst }}</td>
					<!--<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td> -->
					<td width="100%" nowrap>{{ persona.localidad|capfirst }}</td>
					<td width="100%" nowrap>{{ persona.estado_civil }}</td>
					<td width="100%" nowrap>{{ persona.profesion|capfirst }}</td>
					<td width="100%" nowrap>{{ persona.bautizado }}</td>
					<td width="100%" nowrap>{{ persona.escuela_biblica }}</td>
					<td width="100%" nowrap>{{ persona.encuentro }}</td>
					{%block campobaja%}
					{%endblock%}
						<td>
							{% if persona.fecha_baja_persona == null %}
								{% if perms.persona.change_persona %}
									<a class="btn btn-primary" style="width: 80px; line-height: 5px; margin: 5px auto;padding: 10px;" href="{% url 'persona:persona_editar' persona.id%}">Editar</a>
								{% endif %}
								{% if perms.persona.delete_persona %}
									<a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'persona:persona_eliminar' persona.id%}">Eliminar</a>
								{% endif %}
							{%endif%}
							{%block prueba%}
							{%endblock%}
						</td>
					</tr>
			{% endfor %}
		{% else %}
			<td colspan="13">
  				No hay personas
			</td>
		{% endif %}
	</tbody>
</table>
<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% if perms.persona.delete_persona %}
{%block botonfinal%}
	<!--<a class="btn btn-primary" href="{% url 'persona:persona_crear' %}">Registrar nueva persona</a>-->
	<a id="contenedor" class="btn btn-danger" style="line-height: 15px" href="{% url 'persona:persona_listar_baja' %}">Ver  registros eliminados</a>

{%endblock%}
{% endif %}
{% endblock%}


{% block extrajs %}
<script>
	$('#buscar-nombre').keyup(function (event) {
	  var query =($('#buscar-nombre').val());
	  if ( $.trim( $('#buscar-nombre').val() ) != '' ) {
			ajax(query,"buscarnombrepersona/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});

	$('#buscar-dni').keyup(function (event) {
	  var query =($('#buscar-dni').val());
	  if ( $.trim( $('#buscar-dni').val() ) != '' ) {
			ajax(query,"buscardnipersona/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});


function mostrarMain(){
	$('#resultado-busqueda').hide();
	$('#main').show("slow");
}
function esconderMain(){
	$('#resultado-busqueda').show("slow");
	$('#main').hide();
}

function ajax(query,url){
	$.ajax({
		 type: 'GET',
		 url: url,
		 data: {
			 'csrfmiddlewaretoken': '{{ csrf_token }}',
			 'q': query,
			 baja: "No",
		 },
		 success: function(data) {
			 console.log(data);
				$('#resultado-busqueda').html(data);
		 },
		 error: function(data) {
				console.log(data);
		 }
	 });
}

</script>

{% endblock %}
