{% if ministerios %}
{% for ministerio in ministerios %}
<tr>
  <td>{{ ministerio.nombre_ministerio |title }}</td>
  <td>{{ ministerio.dia_actividad }}</td>
  <td>{{ ministerio.lugar_actividad |title }}</td>
  <td>{{ ministerio.hora_actividad }}</td>
  <td>{{ ministerio.encargado_ministerio }}</td>
  {%block campobajaministerio%}
  {%endblock%}
  <td>
    {% if ministerio.fecha_baja_ministerio == null %}
      {% if perms.ministerio.change_ministerios %}
        <a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'ministerio:ministerio_editar' ministerio.id%}">Editar</a>
      {%endif%}
      {% if perms.ministerio.delete_ministerios %}
        <a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'ministerio:ministerio_eliminar' ministerio.id%}">Eliminar</a>
      {%endif%}
    {%endif%}
    {%block pruebaministerio%}
    {%endblock%}
  </td>
</tr>
{% endfor %}

{% else %}
  <td colspan="13">
      No hay ministerios
  </td>
{% endif %}
