{% extends 'base/base.html' %}
{% block title %}
	Detalle de miembros por ministerios
{% endblock %}

{% block content %}

<!--boton buscar ----> <!-- falta acomodar
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/ministerio/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->
<div style="margin: 80px auto auto 20px" >
	<tbody>
		{% if ministerios %}
		{% for ministerio in ministerios %}
		<h5>Nombre: {{ ministerio.nombre_ministerio}}</h5>
		<h5>Encargado: {{ ministerio.encargado_ministerio.nombre }} {{ ministerio.encargado_ministerio.apellido_persona }}</h5>
		{% endfor %}
		{% endif %}
	</tbody>
</div>
{%block encabezado%}
<div id="contenedor" >
	<h2>Miembros:</h2>
		<h2> </h2>
</div>
{%endblock%}
<table id="contenedor" class="table table-bordered">
	<thead>
		<tr>
			<th>Miembros</th>
			<th>Fecha de ingreso</th>
			<th>Comentario</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if miembros_ministerio %}
		{% for miembro_ministerio in miembros_ministerio %}
		<tr>
      <td>{{ miembro_ministerio.persona |title}}</td>
			<td>{{ miembro_ministerio.fecha_ingreso }}</td>
			<td>{{ miembro_ministerio.comentario|capfirst }}</td>
			{%block campobajamiembroministerio%}
			{%endblock%}
			<td>
				{% if miembro_ministerio.fecha_baja_miembro_ministerio == null %}
				{% if perms.ministerio.delete_ministerios %}
					<a class="btn btn-danger" style="line-height: 15px" href="{% url 'ministerio:miembros_ministerio_eliminar' miembro_ministerio.id%}">Eliminar</a>
				{%endif%}
				{%endif%}
				{%block pruebamiembroministerio%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		{%block pruebamiembroministeriobaja%}
		<td colspan="13">
				No hay miembros
		</td>
		{%endblock%}
		{% endif %}
	</tbody>
</table>
<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% block botonfinalministerio %}
<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'ministerio:ministerio_listar' %}">Volver</a>
{% endblock%}
{% endblock%}
