{% extends 'base/base.html' %}

{% block content %}
<form style="margin: 80px auto auto 20px" method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar a {{miembros_ministerio.persona.nombre}} {{miembros_ministerio.persona.apellido_persona}} del ministerio?</h3>
	<button class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
	<a class= "btn btn-default" style="line-height: 15px" href="{% url 'ministerio:miembros_ministerio_listar' miembros_ministerio.ministerio_id %}">Cancelar</a>
</form>
{% endblock %}
