{% extends 'ministerio/miembros_ministerio_listar.html' %}

{%block encabezado%}
	<h2 id="contenedor" >Miembros dados de baja:</h2>
{%endblock%}

{%block titulobaja%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobajamiembroministerio%}
	<td>{{ miembro_ministerio.fecha_baja_miembro_ministerio }}</td>
{%endblock%}

{%block pruebamiembroministerio%}
{% if perms.ministerio.change_ministerios %}
<a class="btn btn-primary" style="line-height: 15px" href="{% url 'ministerio:miembros_ministerio_restaurar' miembro_ministerio.id%}">Restaurar</a>
{%endif%}
{%endblock%}
{%block pruebamiembroministeriobaja%}
<td colspan="13">
	No hay miembros
</td>
{%endblock%}

{%block botonfinalmiembroministerio %}
<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'ministerio:ministerio_listar'%}">Volver</a>
{% endblock%}
