{% extends 'base/base.html' %}

{% block title %}
	Ministerios
{% endblock %}

{% block content %}
{% if perms.ministerio.add_ministerios %}
<h2>Registrar ministerio:</h2>
	<div class="mb-2">
		<form autocomplete="off" method="post">
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<div style="float: left; margin: 27px 17px;">
				<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
				<a class="btn btn-danger" style="line-height: 15px" href="{% url 'ministerio:ministerio_listar' %}">Cancelar</a>
			</div>
		</form>
	</div>
	{% endif %}
{% endblock %}
{% block extrajs %}
<script>

	 $('#id_hora_actividad').timepicker({
		 showMeridian: false,
		 defaultTime: '00:00',
	 }
	 );
</script>

{% endblock %}
