{% extends 'base/base.html' %}
{% block title %}
	Detalle de Ministerios
{% endblock %}

{% block content %}

<!--boton buscar ---->
<!--
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/ministerio/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->
{%block encabezado%}
	<h2>Ministerios:</h2>
{%endblock%}

{% block buscadorministerio %}
<div id="contenedor" >
	<th>Buscar: </th>
				<input class="form-control-sm" id="buscar-ministerio" type="text" placeholder="Ministerio"/>
				<input class="form-control-sm" id="buscar-encargado" type="text" placeholder="Encargado"/>
</div>
{%endblock%}<h1></h1>
<table id="contenedor"  class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Dia</th>
			<th>Lugar</th>
			<th>Hora</th>
			<th>Encargado</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if ministerios %}
		{% for ministerio in ministerios %}
		<tr>
			<td>{{ ministerio.nombre_ministerio |title}}</td>
			<td>{{ ministerio.dia_actividad |capfirst}}</td>
			<td>{{ ministerio.lugar_actividad |capfirst}}</td>
			<td>{{ ministerio.hora_actividad }}</td>
			<td>{{ ministerio.encargado_ministerio|title }}</td>
			{%block campobajaministerio%}
			{%endblock%}
			<td>
				{% if ministerio.fecha_baja_ministerio == null %}
					{% if perms.ministerio.change_ministerios %}
						<a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;"  href="{% url 'ministerio:ministerio_editar' ministerio.id%}">Editar</a>
					{%endif%}
					{% if perms.ministerio.delete_ministerios %}
						<a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'ministerio:ministerio_eliminar' ministerio.id%}">Eliminar</a>
					{%endif%}
						<a class="btn btn-default" style="width: 120px; line-height: 5px;padding: 10px;" href="{% url 'ministerio:miembros_ministerio_listar' ministerio.id%}">Ver miembros</a>
						<a class="btn btn-default" style="width: 180px; line-height: 5px;padding: 10px;" href="{% url 'ministerio:miembros_ministerio_listar_baja' ministerio.id%}">Ver  registros eliminados</a>
				{%endif%}
				{%block pruebaministerio%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<td colspan="13">
				No hay ministerios
		</td>
		{% endif %}
	</tbody>
</table>
<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% block botonfinalministerio %}
	{% if perms.ministerio.delete_ministerios %}
		<a id="contenedor" class="btn btn-danger" style="line-height: 15px" href="{% url 'ministerio:ministerio_listar_baja' %}">Ver  registros eliminados</a>
	{% endif %}
		{% if perms.ministerio.add_ministerio %}
		<a class="btn btn-default" style="line-height: 15px" href="{% url 'ministerio:ministerio_agregar_miembros'%}">Agregar miembros</a>
		{% endif %}
	{%endblock%}
{% endblock%}
{% block extrajs %}
<script>
	$('#buscar-ministerio').keyup(function (event) {
	  var query =($('#buscar-ministerio').val());
	  if ( $.trim( $('#buscar-ministerio').val() ) != '' ) {
			ajax(query,"buscarministerio/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});

	$('#buscar-encargado').keyup(function (event) {
	  var query =($('#buscar-encargado').val());
	  if ( $.trim( $('#buscar-encargado').val() ) != '' ) {
			ajax(query,"buscarpersonaministerio/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});


function mostrarMain(){
	$('#resultado-busqueda').hide();
	$('#main').show("slow");
}
function esconderMain(){
	$('#resultado-busqueda').show("slow");
	$('#main').hide();
}

function ajax(query,url){
	console.log(query);
	$.ajax({
		 type: 'GET',
		 url: url,
		 data: {
			 'csrfmiddlewaretoken': '{{ csrf_token }}',
			 'q': query,
		 },
		 success: function(data) {
			 console.log(data);
				$('#resultado-busqueda').html(data);
		 },
		 error: function(data) {
				console.log(data);
		 }
	 });
}

</script>

{% endblock %}
