{% extends 'ministerio/ministerio_listar.html' %}
{% if perms.ministerio.delete_ministerios %}

{%block encabezado%}
	<h2 style="margin: 80px auto auto 20px" >Ministerios dados de baja:</h2>
{%endblock%}

{%block titulobaja%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobajaministerio%}
	<td>{{ ministerio.fecha_baja_ministerio }}</td>
{%endblock%}

{%block pruebaministerio%}
	<a class="btn btn-primary" style="line-height: 15px" href="{% url 'ministerio:ministerio_restaurar' ministerio.id%}">Restaurar</a>
{%endblock%}

{% block botonfinalministerio %}
	<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'ministerio:ministerio_listar' %}">Volver</a>
{% endblock%}

{% block buscadorministerio %}
{% endblock%}

{% endif %}
