{% extends 'base/base.html' %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/celula/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Dia</th>
			<th>Hora</th>
			<th>Direccion</th>
			<th>Encargado</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
	{% if celulas1 %}
	{% for cel1 in celulas1 %}
		<tr>
			<td>{{ cel1.dia_celula }}</td>
			<td>{{ cel1.hora_celula }}</td>
			<td>{{ cel1.direccion_celula }}</td>
			<td>{{ cel1.encargado_celula }}</td>
			<td>
				{% if celula.fecha_baja_celula == null %}
					<a class="btn btn-primary" href="{% url 'celula:celula_editar' cel1.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' cel1.id%}">Eliminar</a>
				{%endif%}
			</td>
		</tr>
  {% endfor %}
	{% elif celulas2 %}
	{% for cel2 in celulas2 %}
		<tr>
			<td>{{ cel2.dia_celula }}</td>
			<td>{{ cel2.hora_celula }}</td>
			<td>{{ cel2.direccion_celula }}</td>
			<td>{{ cel2.encargado_celula }}</td>
			<td>
				{% if celula.fecha_baja_celula == null %}
					<a class="btn btn-primary" href="{% url 'celula:celula_editar' cel2.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' cel2.id%}">Eliminar</a>
				{%endif%}
			</td>
		</tr>
	{% endfor %}
	{% elif celulas3 %}
	{% for cel3 in celulas3 %}
		<tr>
			<td>{{ cel3.dia_celula }}</td>
			<td>{{ cel3.hora_celula }}</td>
			<td>{{ cel3.direccion_celula }}</td>
			<td>{{ cel3.encargado_celula }}</td>
			<td>
				{% if celula.fecha_baja_celula == null %}
					<a class="btn btn-primary" href="{% url 'celula:celula_editar' cel3.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' cel3.id%}">Eliminar</a>
				{%endif%}
			</td>
		</tr>
	{% endfor %}
	{% elif celulas4 %}
	{% for cel4 in celulas4 %}
		<tr>
			<td>{{ cel4.dia_celula }}</td>
			<td>{{ cel4.hora_celula }}</td>
			<td>{{ cel4.direccion_celula }}</td>
			<td>{{ cel4.encargado_celula }}</td>
			<td>
				{% if celula.fecha_baja_celula == null %}
					<a class="btn btn-primary" href="{% url 'celula:celula_editar' cel4.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' cel4.id%}">Eliminar</a>
				{%endif%}
			</td>
		</tr>
	{% endfor %}
  {% else %}
        <h1>No hay células</h1>
  {% endif %}
  	</tbody>
  </table>
  <ul class="pager">
  	<li>
  		{% if page_obj.has_previous %}
         	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  		{% endif %}
    </li>
  	<li>
  		{% if page_obj.has_next %}
       	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

      	{% endif %}
    </li>
  </ul>

  {% endblock%}
