{% if celulas %}
  {% for celula in celulas %}
    <tr>
      <td>{{ celula.dia_celula }}</td>
      <td>{{ celula.hora_celula }}</td>
      <td>{{ celula.direccion_celula }}</td>
      <td>{{ celula.encargado_celula }}</td>
      {%block campobajacelula%}
      {%endblock%}
      <td>
        {% if celula.fecha_baja_celula == null %}
          {% if perms.celula.change_celula %}
            <a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'celula:celula_editar' celula.id%}">Editar</a>
          {% endif %}
          {% if perms.celula.delete_celula %}
            <a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'celula:celula_eliminar' celula.id%}">Eliminar</a>
          {% endif %}
            <a class="btn btn-default" style="width: 120px; line-height: 5px;padding: 10px;" href="{% url 'celula:miembros_celula_listar' celula.id%}">Ver miembros</a>
            <a class="btn btn-default"style="width: 180px; line-height: 5px;padding: 10px;"  href="{% url 'celula:miembros_celula_listar_baja' celula.id%}">Ver  registros eliminados</a>
        {%endif%}
        {%block pruebacelula%}
        {%endblock%}
      </td>
    </tr>
  {% endfor %}
{% else %}
  <td colspan="13">
    No hay células
  </td>
{% endif %}
