{% extends 'base/base.html' %}

{% block title %}
	Células
{% endblock %}

{% block content %}
{% if perms.celula.add_celula %}
<h2>Registrar célula:</h2>
	<div class="mb-2">
		<form autocomplete="off" method="post">
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<div style="float: left; margin: 27px 17px;">
				<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
				<a class="btn btn-danger" style="line-height: 15px" href="{% url 'celula:celula_listar' %}">Cancelar</a>
		</div>
		</form>
	</div>
{% endif %}
{% endblock %}

{% block extrajs %}
<script>

	 $('#id_hora_celula').timepicker({
		 showMeridian: false,
		 defaultTime: '00:00',
	 }
	 );
</script>
{% endblock %}
