{% extends 'base/base.html' %}

{% block title %}
	Agregar miembros
{% endblock %}

{% block content %}
<h2>Agregar miembros a células:</h2>
<div class="mb-2">
<form autocomplete="off" method="post">
	{% csrf_token %}
	{% include 'includes/form.html' %}
	<div style="float: left; margin: 27px 17px;">
		<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
		<a class="btn btn-danger" style="line-height: 15px" href="{% url 'celula:celula_listar' %}">Volver</a>
	</div>

</form>
</div>
{% endblock %}
{% block extrajs %}
<script>
	$('#id_fecha_ingreso').datepicker({
		todayBtn: "linked",
		format: 'dd-mm-yyyy',
		endDate: '0d',
		language: 'es',
		autoclose: true,
	})
</script>
{% endblock %}
