{% extends 'base/base.html' %}
{% block title %}
	Detalle de Celulas
{% endblock %}

{% block content %}

<!--boton buscar ---->
<!--
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/celula/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->
{%block encabezado%}
	<h2>Células:</h2>
{%endblock%}
{%block buscadorcelula %}
<div id="contenedor">
<th>Buscar: </th>
			<input class="form-control-sm" id="buscar-dia" type="text" placeholder="Dia"/>
      <input class="form-control-sm" id="buscar-encargado" type="text" placeholder="Encargado"/>
</div>
{%endblock%}<h1></h1>
<table  id="contenedor"class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Dia</th>
			<th>Hora</th>
			<th>Direccion</th>
			<th>Encargado</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if celulas %}
		{% for celula in celulas %}
		<tr>
			<td>{{ celula.dia_celula |title }}</td>
			<td>{{ celula.hora_celula }}</td>
			<td>{{ celula.direccion_celula |title }}</td>
			<td>{{ celula.encargado_celula|title  }}</td>
			{%block campobajacelula%}
			{%endblock%}
			<td>
				{% if celula.fecha_baja_celula == null %}
					{% if perms.celula.change_celula %}
						<a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'celula:celula_editar' celula.id%}">Editar</a>
					{% endif %}
					{% if perms.celula.delete_celula %}
						<a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'celula:celula_eliminar' celula.id%}">Eliminar</a>
					{% endif %}
						<a class="btn btn-default" style="width: 120px; line-height: 5px;padding: 10px;" href="{% url 'celula:miembros_celula_listar' celula.id%}">Ver miembros</a>
						<a class="btn btn-default" style="width: 180px; line-height: 5px;padding: 10px;" href="{% url 'celula:miembros_celula_listar_baja' celula.id%}">Ver  registros eliminados</a>
				{%endif%}
				{%block pruebacelula%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}
	{% else %}
		<td colspan="13">
			No hay células
		</td>
	{% endif %}
</tbody>
</table>
<ul id="contenedor"class="pager">
	<li>
		{% if page_obj.has_previous %}
			 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
	</li>
	<li>
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		{% endif %}
	</li>
</ul>
{% block botonfinalcelula %}
	{% if perms.celula.delete_celula %}
		<a id="contenedor"class="btn btn-danger" style="line-height: 15px" href="{% url 'celula:celula_listar_baja' %}">Ver  registros eliminados</a>
	{%endif%}
	{% if perms.celula.add_celula %}
		<a class="btn btn-default" style="line-height: 15px" href="{% url 'celula:celula_agregar_miembros'%}">Agregar miembros</a>
		{%endif%}
{%endblock%}
{% endblock%}

{% block extrajs %}
<script>
$('#buscar-dia').keyup(function (event) {
	var query =($('#buscar-dia').val());
	if ( $.trim( $('#buscar-dia').val() ) != '' ) {
		ajax(query,"buscardiacelula/");
		esconderMain();
	}
	else {
		mostrarMain();
	}
});

$('#buscar-encargado').keyup(function (event) {
	var query =($('#buscar-encargado').val());
	if ( $.trim( $('#buscar-encargado').val() ) != '' ) {
		ajax(query,"buscarencargadocelula/");
		esconderMain();
	}
	else {
		mostrarMain();
	}
});


function mostrarMain(){
$('#resultado-busqueda').hide();
$('#main').show("slow");
}
function esconderMain(){
$('#resultado-busqueda').show("slow");
$('#main').hide();
}

function ajax(query,url){
console.log(query);
$.ajax({
	 type: 'GET',
	 url: url,
	 data: {
		 'csrfmiddlewaretoken': '{{ csrf_token }}',
		 'q': query,
	 },
	 success: function(data) {
		 console.log(data);
			$('#resultado-busqueda').html(data);
	 },
	 error: function(data) {
			console.log(data);
	 }
 });
}

</script>

{% endblock %}
