{% extends 'celula/celula_listar.html' %}
{% if perms.celula.delete_celula %}

	{%block encabezado%}
		<h2 style="margin: 80px auto auto 20px" >Células dadas de baja:</h2>
	{%endblock%}

	{%block titulobaja%}
		<th>Fecha Baja</th>
	{%endblock%}

	{%block campobajacelula%}
		<td>{{ celula.fecha_baja_celula }}</td>
	{%endblock%}

	{%block pruebacelula%}
		<a class="btn btn-primary" style="line-height: 15px" href="{% url 'celula:celula_restaurar' celula.id%}">Restaurar</a>
	{%endblock%}

	{% block botonfinalcelula %}
		<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'celula:celula_listar' %}">Volver</a>
	{% endblock%}

	{%block buscadorcelula %}
	{% endblock%}
{% endif %}
