{% extends 'base/base.html' %}
{% block title %}
	Detalle de miembros por celulas
{% endblock %}

{% block content %}

<!--boton buscar ----> <!-- falta acomodar -->
<!--
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/celula/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->
<div style="margin: 80px auto auto 20px" >
	<tbody>
		{% if celulas %}
		{% for celula in celulas %}
		<h5>Encargado: {{ celula.encargado_celula.nombre }} {{ celula.encargado_celula.apellido_persona }}</h5>
		<h5>Día: {{ celula.dia_celula }}</h5>
		<h5>Hora: {{ celula.hora_celula }} hs. </h5>
		<h5>Dirección: {{ celula.direccion_celula }} </h5>
		{% endfor %}
		{% endif %}
	</tbody>
</div>
{%block encabezado%}
	<h2 id="contenedor">Miembros:</h2>
	<h1> </h1>

{%endblock%}

<table id="contenedor" class="table table-bordered">
	<thead>
		<tr>
			<th>Miembros</th>
			<th>Fecha de ingreso</th>
			<th>Comentario</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if miembros_celula %}
		{% for miembro in miembros_celula %}
		<tr>
			<td>{{ miembro.miembro |title }}</td>
			<td>{{ miembro.fecha_ingreso }}</td>
			<td>{{ miembro.comentario |capfirst }}</td>
			{%block campobajamiembrocelula%}
			{%endblock%}
			<td>
				{% if miembro.fecha_baja_miembro_celula == null %}
				{% if perms.celula.delete_celula %}
					<a class="btn btn-danger" style="line-height: 15px" href="{% url 'celula:miembros_celula_eliminar' miembro.id%}">Eliminar</a>
				{%endif%}
				{%endif%}
				{%block pruebamiembrocelula%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		{%block pruebamiembrocelulabaja%}
		<td colspan="13">
			No hay miembros
		</td>
		{%endblock%}
		{% endif %}
	</tbody>
</table>
<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>

{%block botonfinalmiembrocelula %}
<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'celula:celula_listar' %}">Volver</a>
{% endblock%}
{% endblock%}
