{% extends 'celula/miembros_celula_listar.html' %}

{%block encabezado%}
	<h2 id="contenedor">Miembros dados de baja:</h2>
{%endblock%}

{%block titulobaja%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobajamiembrocelula%}
	<td>{{ miembro.fecha_baja_miembro_celula }}</td>
{%endblock%}

{%block pruebamiembrocelula%}
{% if perms.celula.change_celula %}
<a class="btn btn-primary" style="line-height: 15px" href="{% url 'celula:miembros_celula_restaurar' miembro.id%}">Restaurar</a>
{% endif %}
{%endblock%}
{%block pruebamiembrocelulabaja%}
<td colspan="13">
	No hay miembros
</td>
{%endblock%}

{%block botonfinalmiembrocelula %}
<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'celula:celula_listar'%}">Volver</a>
{% endblock%}

{%block buscadorcelula %}
{% endblock%}
