{% extends 'base/base.html' %}

{% block content %}
<form style="margin: 80px auto auto 20px"  method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar a {{miembros_celula.miembro.nombre}} {{miembros_celula.miembro.apellido_persona}} de la celula?</h3>
	<button class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
	<a class= "btn btn-default" style="line-height: 15px" href="{% url 'celula:miembros_celula_listar' miembros_celula.celula_id%}">Cancelar</a>
</form>
{% endblock %}
