{% extends 'base/base.html' %}
{% block title %}
	Detalle de Movimientos
{% endblock %}
{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/movimiento/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Fecha Movimiento</th>
			<th>Tipo Movimiento</th>
			<th>Clase</th>
			<th>Descripcion</th>
			<th>Ingreso</th>
			<th>Egreso</th>
			<th>Categoria</th>
			<th>Tipo movimiento</th>
			<th>Autor</th>
			<th>Evento</th>
			<th>Matrimonio</th>
			<th>Ministerio</th>
		</tr>
	</thead>
	<tbody>
		{% if movimientos1 %}
		{% for movi1 in movimientos1 %}
		<tr>
			<td>{{ movi1.fecha_movimiento }}</td>
			<td>{{ movi1.tipo_movimiento }}</td>
			<td>{{ movi1.clase_movimiento }}</td>
			<td>{{ movi1.descripcion_movimiento }}</td>
			<td>{{ movi1.monto_movimiento }}</td>
			<td>{{ movi1.categoria }}</td>
			<td>{{ movi1.id_persona.nombre }} {{ movi1.id_persona.apellido_persona }}</td>
			<td>{{ movi1.id_evento.descripcion_evento }} {{ movi1.id_evento.fecha_evento }}</td>
			<td>{{ movi1.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi1.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos2 %}
		{% for movi2 in movimientos2 %}
		<tr>
			<td>{{ movi2.fecha_movimiento }}</td>
			<td>{{ movi2.tipo_movimiento }}</td>
			<td>{{ movi2.clase_movimiento }}</td>
			<td>{{ movi2.descripcion_movimiento }}</td>
			<td>{{ movi2.monto_movimiento }}</td>
			<td>{{ movi2.categoria }}</td>
			<td>{{ movi2.id_persona.nombre }} {{ movi2.id_persona.apellido_persona }}</td>
			<td>{{ movi2.id_evento.descripcion_evento }} {{ movi2.id_evento.fecha_evento }}</td>
			<td>{{ movi2.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi2.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos3 %}
		{% for movi3 in movimientos3 %}
		<tr>
			<td>{{ movi3.fecha_movimiento }}</td>
			<td>{{ movi3.tipo_movimiento }}</td>
			<td>{{ movi3.clase_movimiento }}</td>
			<td>{{ movi3.descripcion_movimiento }}</td>
			<td>{{ movi3.monto_movimiento }}</td>
			<td>{{ movi3.categoria }}</td>
			<td>{{ movi3.id_persona.nombre }} {{ movi3.id_persona.apellido_persona }}</td>
			<td>{{ movi3.id_evento.descripcion_evento }} {{ movi3.id_evento.fecha_evento }}</td>
			<td>{{ movi3.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi3.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos4 %}
		{% for movi4 in movimientos4 %}
		<tr>
			<td>{{ movi4.fecha_movimiento }}</td>
			<td>{{ movi4.tipo_movimiento }}</td>
			<td>{{ movi4.clase_movimiento }}</td>
			<td>{{ movi4.descripcion_movimiento }}</td>
			<td>{{ movi4.monto_movimiento }}</td>
			<td>{{ movi4.categoria }}</td>
			<td>{{ movi4.id_persona.nombre }} {{ movi4.id_persona.apellido_persona }}</td>
			<td>{{ movi4.id_evento.descripcion_evento }} {{ movi4.id_evento.fecha_evento }}</td>
			<td>{{ movi4.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi4.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos5 %}
		{% for movi5 in movimientos5 %}
		<tr>
			<td>{{ movi5.fecha_movimiento }}</td>
			<td>{{ movi5.tipo_movimiento }}</td>
			<td>{{ movi5.clase_movimiento }}</td>
			<td>{{ movi5.descripcion_movimiento }}</td>
			<td>{{ movi5.monto_movimiento }}</td>
			<td>{{ movi5.categoria }}</td>
			<td>{{ movi5.id_persona.nombre }} {{ movi5.id_persona.apellido_persona }}</td>
			<td>{{ movi5.id_evento.descripcion_evento }} {{ movi5.id_evento.fecha_evento }}</td>
			<td>{{ movi5.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi5.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos6 %}
		{% for movi6 in movimientos6 %}
		<tr>
			<td>{{ movi6.fecha_movimiento }}</td>
			<td>{{ movi6.tipo_movimiento }}</td>
			<td>{{ movi6.clase_movimiento }}</td>
			<td>{{ movi6.descripcion_movimiento }}</td>
			<td>{{ movi6.monto_movimiento }}</td>
			<td>{{ movi6.categoria }}</td>
			<td>{{ movi6.id_persona.nombre }} {{ movi6.id_persona.apellido_persona }}</td>
			<td>{{ movi6.id_evento.descripcion_evento }} {{ movi6.id_evento.fecha_evento }}</td>
			<td>{{ movi6.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi6.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos7 %}
		{% for movi7 in movimientos7 %}
		<tr>
			<td>{{ movi7.fecha_movimiento }}</td>
			<td>{{ movi7.tipo_movimiento }}</td>
			<td>{{ movi7.clase_movimiento }}</td>
			<td>{{ movi7.descripcion_movimiento }}</td>
			<td>{{ movi7.monto_movimiento }}</td>
			<td>{{ movi7.categoria }}</td>
			<td>{{ movi7.id_persona.nombre }} {{ movi7.id_persona.apellido_persona }}</td>
			<td>{{ movi7.id_evento.descripcion_evento }} {{ movi7.id_evento.fecha_evento }}</td>
			<td>{{ movi7.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi7.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos8 %}
		{% for movi8 in movimientos8 %}
		<tr>
			<td>{{ movi8.fecha_movimiento }}</td>
			<td>{{ movi8.tipo_movimiento }}</td>
			<td>{{ movi8.clase_movimiento }}</td>
			<td>{{ movi8.descripcion_movimiento }}</td>
			<td>{{ movi8.monto_movimiento }}</td>
			<td>{{ movi8.categoria }}</td>
			<td>{{ movi8.id_persona.nombre }} {{ movi8.id_persona.apellido_persona }}</td>
			<td>{{ movi8.id_evento.descripcion_evento }} {{ movi8.id_evento.fecha_evento }}</td>
			<td>{{ movi8.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi8.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% elif movimientos9 %}
		{% for movi9 in movimientos9 %}
		<tr>
			<td>{{ movi9.fecha_movimiento }}</td>
			<td>{{ movi9.tipo_movimiento }}</td>
			<td>{{ movi9.clase_movimiento }}</td>
			<td>{{ movi9.descripcion_movimiento }}</td>
			<td>{{ movi9.monto_movimiento }}</td>
			<td>{{ movi9.categoria }}</td>
			<td>{{ movi9.id_persona.nombre }} {{ movi9.id_persona.apellido_persona }}</td>
			<td>{{ movi9.id_evento.descripcion_evento }} {{ movi9.id_evento.fecha_evento }}</td>
			<td>{{ movi9.id_matrimonio.apellido_matrimonio }}</td>
			<td>{{ movi9.id_ministerio.nombre_ministerio }}</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No hay Movimientos Registrados</h1>
		{% endif %}
  	</tbody>
  </table>
  <ul class="pager">
  	<li>
  		{% if page_obj.has_previous %}
         	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  		{% endif %}
    </li>
  	<li>
  		{% if page_obj.has_next %}
       	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

      	{% endif %}
    </li>
  </ul>

  {% endblock%}
