{% if movimientos %}
{% for movimiento in movimientos %}
<tr>
  <td>{{ movimiento.id }}</td>
  <td>{{ movimiento.fecha_movimiento }}</td>
  <td style="color:green">{{ movimiento.ingreso }}</td>
  <td style="color:red">{{ movimiento.egreso }}</td>
  <td>{{ movimiento.descripcion_movimiento |capfirst}}</td>
  <td>{{ movimiento.categoria|capfirst}}</td>
  <td>{{ movimiento.clase_movimiento|capfirst }}</td>
  <td>{{ movimiento.id_persona.nombre|title }} {{ movimiento.id_persona.apellido_persona |title}}</td>
  <td>{{ movimiento.id_evento.descripcion_evento|title }} {{ movimiento.id_evento.fecha_evento }}</td>
  <td>{{ movimiento.id_ministerio.nombre_ministerio|title }}</td>
  <td>{{ movimiento.comentario|capfirst }}</td>
  {%block campobajamovimiento%}
  {%endblock%}
  <td>
    {% if movimiento.fecha_baja_movimiento_dinero == null %}

      {% if perms.movimiento_dinero.delete_movimiento_dinero %}
        <a class="btn btn-danger" style="width: 80px; line-height: 5px; padding: 10px;" href="{% url 'movimiento:movimiento_eliminar' movimiento.id%}">Eliminar</a>
      {% endif %}
    {%endif%}
    {%block pruebamovimiento%}
    {%endblock%}
  </td>
</tr>
{% endfor %}
{% else %}
  <td colspan="13">
    No hay movimientos de dinero
  </td>
{% endif %}
