{% extends 'base/base.html' %}
{% block title %}
	Detalle de Movimientos
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% block content %}

<!--boton buscar ---->
<!--
	<form class = "navbar-search pull-left" method
	="POST" action="/movimiento/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->
{%block encabezado%}
	<h2>Movimientos de dinero:</h2>
{%endblock%}
{% for message in messages %}
	<div class="alert alert-danger" role="alert">
		{{ message }}
	</div>
{% endfor %}
{% block buscarmovimientos%}

		<form id="contenedor" autocomplete="off" name="filtro" class="" action="{% url 'movimiento:movimiento_buscar' %}" method="GET">
			{% csrf_token %}
			<th>Buscar:</th><br>
			<input name="autor" value="{{request.GET.autor}}" class="form-control-sml" style="line-height: 7px; margin: 7px auto; " id="buscar-autormovimiento" type="text" placeholder="Autor">
			<input name="ministerio" value="{{request.GET.ministerio}}" class="form-control-sm" style="line-height: 7px; margin: 7px 7px; " id="buscar-por-ministerio" type="text" placeholder="Ministerio">
			<input name="id_movimiento" value="{{request.GET.id_movimiento}}" class="form-control-sm" style="line-height: 7px; margin: 7px 7px; " id="buscar-por-id" type="text" placeholder="N° Movimiento">
			<br><input name="fechadesde" value="{{request.GET.fechadesde}}" id="fechadesde" type="text" class="form-control-sm" style="line-height: 7px; margin: 7px auto;" placeholder="Fecha desde">
			<input name="fechahasta" value="{{request.GET.fechahasta}}" id="fechahasta" type="text" class="form-control-sm" style="line-height: 7px; margin: 7px 7px;" placeholder="Fecha hasta">
			<br>Tipo movimiento:
			<select name="tipomovimiento" value="{{request.GET.tipomovimiento}}" class="form-control-sml" style="line-height: 7px; margin: 7px auto; " id="buscar-por-tipo-movimiento" >
				<option value="Todo">Todo</option>
				<option value="Ingreso">Ingresos</option>
				<option value="Egreso">Egresos</option>
			</select><br>
			Clase movimiento:
			<select name="claseomovimiento" value="{{request.GET.claseomovimiento}}" class="form-control-sm" style="line-height: 7px; margin: 7px auto; " id="buscar-por-clase-movimiento">
				<option value="Todo">Todo</option>
				<option value="Fijo">Fijos</option>
				<option value="Eventual">Eventuales</option>
			</select>
			<button class="btn btn-success" type="submit" style="line-height: 2px; margin: 7px 7px; padding: 10px 63px;">Buscar</button><br>
		</form>

{%endblock%}
<!--
<form style="float: right; line-height: 7px; margin: 7px auto;" action="">Tipo movimiento:
	<select class="form-control-sm" id="buscar-por-tipo-movimiento">
		<option value="Todo">Todo</option>
		<option value="Ingreso">Ingresos</option>
		<option value="Egreso">Egresos</option>
	</select>
</form><br />
<form style="float: right; line-height: 7px; margin: 7px auto;" action="">Clase movimiento:
	<select class="form-control-sm" id="buscar-por-clase-movimiento">
		<option value="Todo">Todo</option>
		<option value="Fijo">Fijos</option>
		<option value="Eventual">Eventuales</option>
	</select>
</form>-->



{% block reportesmovimientos%}
<div class='form-group'>
    <div class="row">
        <div class="col-lg-10">
        </div>
				<div class="col-lg-1">
           <a id="crear_detalle" title="Exportar en Excel" href="{% url 'movimiento:reporte_caja_excel' %}" target="_blank" class="btn btn-success btn-block">
               <span class="glyphicon glyphicon-list-alt"></span>
           </a>
        </div>
        <div class="col-lg-1">
            <a id="crear_detalle_2" title="Exportar en PDF" class="btn btn-info btn-block">
                <span class="glyphicon glyphicon-file"></span>
            </a>
						<!--<a href="{% url 'movimiento:reporte_movimiento'%} " title="Exportar en PDF" class="btn btn-info btn-block">
                <span class="glyphicon glyphicon-file"></span>
            </a>-->
        </div>
    </div>
</div>
{% endblock%}
<table id="contenedor" id="tabla" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>N°</th>
			<th>Fecha Movimiento</th>
			<th>Ingreso</th>
			<th>Egreso</th>
			<th>Descripcion</th>
			<th>Categoria</th>
			<th>Clase</th>
			<th>Autor</th>
			<th>Evento</th>
			<th>Ministerio</th>
			<th>Comentario</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if movimientos %}
		{% for movimiento in movimientos %}
		<tr>
			<td>{{ movimiento.id }}</td>
			<td>{{ movimiento.fecha_movimiento }}</td>
			<td style="color:green">{{ movimiento.ingreso }}</td>
			<td style="color:red">{{ movimiento.egreso }}</td>
			<td>{{ movimiento.descripcion_movimiento |capfirst}}</td>
			<td>{{ movimiento.categoria|capfirst}}</td>
			<td>{{ movimiento.clase_movimiento|capfirst }}</td>
			<td>{{ movimiento.id_persona.nombre|title }} {{ movimiento.id_persona.apellido_persona |title}}</td>
			<td>{{ movimiento.id_evento.descripcion_evento|title }} {{ movimiento.id_evento.fecha_evento }}</td>
			<td>{{ movimiento.id_ministerio.nombre_ministerio|title }}</td>
			<td>{{ movimiento.comentario|capfirst }}</td>
			{%block campobajamovimiento%}
			{%endblock%}
			<td>
				{% if movimiento.fecha_baja_movimiento_dinero == null %}

					{% if perms.movimiento_dinero.delete_movimiento_dinero %}
						<a class="btn btn-danger" style="width: 80px; line-height: 5px; padding: 10px;" href="{% url 'movimiento:movimiento_eliminar' movimiento.id%}">Eliminar</a>
					{% endif %}
				{%endif%}
				{%block pruebamovimiento%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<td colspan="13">
				No hay movimientos de dinero
			</td>
		{% endif %}
		{%block total%}
		<thead>
    	<th>Total:</th>
    	<th>{{total2}}</th>
  	</thead>
		{%endblock%}
	</tbody>
</table>

<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{%block botonfinalmovimiento%}
	{% if perms.movimiento_dinero.delete_movimiento_dinero %}
		<a id="contenedor" class="btn btn-danger" style="line-height: 15px" href="{% url 'movimiento:movimiento_listar_baja' %}">Ver registros eliminados</a>
	{%endif%}
{%endblock%}

{% endblock%}

{% block extrajs %}
<script>

	$('#fechadesde').datepicker({
			todayBtn: "linked",
			format: 'dd/mm/yyyy',
			endDate: '0d',
			language: 'es',
			autoclose: true,
		})

	$('#fechahasta').datepicker({
			todayBtn: "linked",
			format: 'dd/mm/yyyy',
			endDate: '0d',
			language: 'es',
			autoclose: true,
		})

/*
			$('#buscar-autormovimiento').keyup(function (event) {
			  var query =($('#buscar-autormovimiento').val());
			  if ( $.trim( $('#buscar-autormovimiento').val() ) != '' ) {
					ajax(query,"buscarautormovimiento/");
					esconderMain();
			  }
			  else {
					mostrarMain();
			  }
			});

			$('#buscar-por-tipo-movimiento').change(function(){
			var query =($('#buscar-por-tipo-movimiento').val());
			if ( $.trim( $('#buscar-por-tipo-movimiento').val() ) != 'Todo' ) {
				ajax(query,"buscarportipomovimiento/");
				esconderMain();
			}
			else {
				mostrarMain();
			}
		});

		$('#buscar-por-clase-movimiento').change(function(){
		var query =($('#buscar-por-clase-movimiento').val());
		if ( $.trim( $('#buscar-por-clase-movimiento').val() ) != 'Todo' ) {
			ajax(query,"buscarporclasemovimiento/");
			esconderMain();
		}
		else {
			mostrarMain();
		}
		});

		$('#buscar-por-ministerio').keyup(function (event) {
			var query =($('#buscar-por-ministerio').val());
			if ( $.trim( $('#buscar-por-ministerio').val() ) != '' ) {
				ajax(query,"buscarporministerio/");
				esconderMain();
			}
			else {
				mostrarMain();
			}
		});

		$('#buscar-por-evento').keyup(function (event) {
			var query =($('#buscar-por-evento').val());
			if ( $.trim( $('#buscar-por-evento').val() ) != '' ) {
				ajax(query,"buscarporevento/");
				esconderMain();
			}
			else {
				mostrarMain();
			}
		});

		$('#buscar-por-id').keyup(function (event) {
			var query =($('#buscar-por-id').val());
			if ( $.trim( $('#buscar-por-id').val() ) != '' ) {
				ajax(query,"buscarporid/");
				esconderMain();
			}
			else {
				mostrarMain();
			}
		});

		function mostrarMain(){
			$('#resultado-busqueda').hide();
			$('#main').show("slow");
		}
		function esconderMain(){
			$('#resultado-busqueda').show("slow");
			$('#main').hide();
		}

		function ajax(query,url){
			console.log(query);
			$.ajax({
				 type: 'GET',
				 url: url,
				 data: {
					 'csrfmiddlewaretoken': '{{ csrf_token }}',
					 'q': query,
				 },
				 success: function(data) {
					 console.log(data);
						$('#resultado-busqueda').html(data);
				 },
				 error: function(data) {
						console.log(data);
				 }
			 });
		}

		    function balidatu(){
		        var pas1 = $("#pass").val();
		        var pas2 = $("#passC").val();
		        return (pas1 === pas2);
		    }

*/

		$("#crear_detalle_2").click(function(){
			var fechaHasta = $('#fechahasta').val();
			var fechaDesde = $('#fechadesde').val();
			var ministerio = $('#buscar-por-ministerio').val();
			var movimiento = $('#buscar-por-id').val();
			var autor = $('#buscar-autormovimiento').val();
			var tipomovimiento = $("#tipomovimiento").val();
			var clasemovimiento = $("#claseomovimiento").val();
			var url = "/movimiento/reporte_movimiento/";



			console.log(url);

			$.ajax({
				 type: 'GET',
				 url: url,
				 data: {
				 'csrfmiddlewaretoken': '{{ csrf_token }}',
				 'autor':autor,
				 'ministerio':ministerio,
				 'id_movimiento':movimiento,
				 'fechadesde':fechaDesde,
				 'fechahasta':fechaHasta,
				 'tipomovimiento':tipomovimiento,
				 'clasemovimiento':clasemovimiento
				 },
				 success: function(data) {
					 console.log(data);
					 var file = new Blob([data], { type: 'application/pdf' });
					 var fileURL = URL.createObjectURL(file);
					 window.open(fileURL);
				 },
				 error: function(data) {
						console.log(data);
				 }
			 });

		 });
		</script>
{% endblock %}
