{% extends 'base/base.html' %}

{% block title %}
	Alta Movimiento de dinero
{% endblock %}

{% block content %}
{% if perms.movimiento_dinero.add_movimiento_dinero %}
<h2>Registrar movimiento de dinero:</h2>
<form style=" line-height: 17px; margin: 7px 15px;" action="">Tipo movimiento:
<!--RADIO button
	<div id="tipoRadio" style="margin: 7px 15px;">
		<input id="IngresoR" type="radio" name="tipoMovRadio" value="Ingreso">Ingreso <br>
		<input id="EgresoR" type="radio" name="tipoMovRadio" value="Egreso">Egreso
	</div>-->
		<select id="tipo_mov" name="tipo_movimiento">
			<option value="ingreso">Ingreso</option>
			<option value="egreso">Egreso</option>
		</select>
</form><br />
	<div class="mb-2">
		<form autocomplete="off" method="post">
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<div style="float: left; margin: 27px 17px;">
			<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
			<a class="btn btn-danger" style="line-height: 15px" href="{% url 'movimiento:movimiento_listar' %}">Cancelar</a>
			</div>
		</form>
	</div>
{% endif %}
{% endblock %}

{% block extrajs %}
<script>

$('#id_fecha_movimiento').datepicker({
		todayBtn: "linked",
		format: 'dd/mm/yyyy',
		endDate: '0d',
		language: 'es',
		autoclose: true,
	})

	jQuery('input[name=egreso]').hide();

		jQuery(document).ready(function() {
			jQuery("#tipo_mov").change(function() {
					if (jQuery(this).val() === 'ingreso'){
							jQuery('input[name=ingreso]').show();
							jQuery('input[name=egreso]').hide();
						} else {
						jQuery('input[name=ingreso]').hide();
						jQuery('input[name=egreso]').show();
	        }
	    });
	});
</script>



{% endblock %}
