{% extends 'base/base.html' %}

{% block content %}
{% if perms.movimiento_dinero.delete_movimiento_dinero %}
	<form method="post">
		{% csrf_token %}
		<h3 style="margin: 80px auto auto 20px">¿Desea eliminar este movimiento?</h3><!--de dinero realizado por {{ form.id_persona.nombre }}?</h3>-->
		<button id="contenedor" class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
		<a class= "btn btn-default" style="line-height: 15px" href="{% url 'movimiento:movimiento_listar' %}">Cancelar</a>
	</form>
{% endif %}
{% endblock %}
