{% extends 'movimiento_dinero/movimiento_dinero_list.html' %}
{% if perms.movimiento_dinero.delete_movimiento_dinero %}

{%block encabezado%}
	<h2>Movimientos de dinero dados de baja:</h2>
{%endblock%}

	{%block titulobaja%}
		<th>Fecha Baja</th>
	{%endblock%}

		{%block campobajamovimiento%}
		<td>{{ movimiento.fecha_baja_movimiento_dinero }}</td>
		{%endblock%}

		{%block total%}
		{%endblock%}
		{% block botonfinalmovimiento %}
		<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'movimiento:movimiento_listar' %}">Volver</a>
		{% endblock%}

		{% block buscarmovimientos%}
		{% endblock%}

		{% block reportesmovimientos%}
		{% endblock%}
{% endif %}
