{% extends 'entrada/entrada_list.html' %}

	{%block encabezado%}
		<h2>Entradas de inventario dadas de baja:</h2>
	{%endblock%}

{%block titulobajaentrada%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobajaentrada%}
	<td>{{ entrada.fecha_baja_entrada }}</td>
{%endblock%}

<!--{%block pruebaentrada%}-->

<!--{%endblock%}-->

{% block botonfinalentrada %}
<a class="btn btn-default" style="line-height: 15px" href="{% url 'entrada:entrada_listar' %}">Volver</a>
{% endblock%}
