{% extends 'base/base.html' %}
{% block title %}
	Detalle de Entradas
{% endblock %}

{% block content %}
{%block encabezado%}
	<h2>Entradas de inventario:</h2>
{%endblock%}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Inventario</th>
			<th>Ministerio</th>
			<th>Cantidad de Entradas</th>
			<th>Fecha de Entrada</th>
			<th>Observaciones</th>
			{%block titulobajaentrada%}
			{%endblock%}
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
		{% if entradas %}
		{% for entrada in entradas %}
		<tr>
			<td>{{ entrada.id_articulo.descripcion_articulo }}</td>
			<td>{{ entrada.id_ministerio.nombre_ministerio }}</td>
			<td>{{ entrada.cantidad_entrada }}</td>
			<td>{{ entrada.fecha_entrada }}</td>
			<td>{{ entrada.observaciones_entrada }}</td>
			{%block campobajaentrada%}
			{%endblock%}
			<td>
				{% if fecha_baja_entrada__isnull == null %}
					{% if perms.entrada.delete_entrada %}
						<a class="btn btn-danger" style="line-height: 15px" href="{% url 'entrada:entrada_eliminar' entrada.id%}">Eliminar</a>
					{%endif%}
				{%endif%}
				{%block pruebaentrada%}
				{%endblock%}
			</td>
		</tr>
	 {% endfor %}
	{% else %}
		<td colspan="13">
			No hay entradas
		</td>
	{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
  </li>
</ul>
<!--{% block botonfinalentrada %}-->

<!--{%endblock%}-->
{% endblock%}
