{% extends 'base/base.html' %}

{% block content %}
	{% if perms.entrada.delete_entrada %}
		<form method="post">
			{% csrf_token %}
			<h3>¿Desea eliminar la entrada gestionada por {{ entrada.id_ministerio.nombre_ministerio }}?</h3>
			<button class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
			<a class= "btn btn-default" style="line-height: 15px" href="{% url 'entrada:entrada_listar' %}">Cancelar</a>
		</form>
	{% endif %}
{% endblock %}
