{% extends 'base/base.html' %}
{% load static %}
{% load wysiwyg %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<link href="//fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<h1>Nuevo Borrador</h1>
<form autocomplete="off" method="POST" class="post-form">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Guardar</button>
    <!--<button type="reset" class="save btn btn-default">Reset</button>-->
    <a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_list' %}">Volver a la página principal</a>
    <a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_draft_list' %}">Ver borradores</a>
</form>

{% endblock %}
