{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<link href="//fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <div class="post">
      {% if post.published_date %}
        <div class="date">
          {{ post.published_date }}
        </div>
      {% else %}
        <a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_publish' pk=post.pk %}">Publicar <span class="glyphicon glyphicon-share-alt"></span></a>
      {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_edit' post.id %}">Editar <span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_remove' pk=post.pk %}">Eliminar <span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe  }}</p>
    </div>
<a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_list' %}">Volver a la página principal</a>
{% endblock %}
