{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<title>Borrador</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<link href="//fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!--<h1><a href="/">Borradores:</a></h1>-->
<h1>Borradores:</h1>
{% if posts %}
    {% for post in posts %}
        <div class="post">
            <p class="date"> {{ post.created_date|date:'Y-m-d H:i:s' }}</p>
            <h1><a href="{% url 'portada:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|safe }}</p>
        </div>
    {% endfor %}
{% else %}
  <p>No hay publicaciones</p>
{% endif %}
<a class="btn btn-primary" style="line-height: 15px" href="{% url 'portada:post_new_borrador'%}">Crear borrador</a>
<a class="btn btn-default" style="line-height: 15px" href="{% url 'portada:post_list' %}">Volver a la página principal</a>
{% endblock %}
