{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<html>
    <head>
        <title>Sistema Iglesia</title>

        <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>


        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <!--  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
          <link href="//fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
          <link rel="stylesheet" href="{% static 'css/blog.css' %}">
          <style>
            body {
              background-image: url("../media/imagenes/clouds-1209444_19202.jpg");
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
            }
            img {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 15%;
            }
          </style>
    </head>

<body>
	<div class="contenedor">
		<br>
		<div class="col-md-12">
			<div id="carousel-1" class="carousel slide" data-ride="carousel">
				<!-- Indicadores -->

				<!-- contenedor de los slide -->

					<!-- #1 -->
					<div class="banner">
					 	<img src="../media/imagenes/ijme.negro.png" class="img-responsive" >   <!-- YA ME QUEDO CLARO POR QUE TODAS LAS IMAGENES MISMO TAMAÑO -->
              {% if user.is_authenticated %}
              <h1>Publicaciones: </h1>
              {% if perms.portada.add_post or perms.portada.change_post or perms.portada.delete_post %}
                <a href="{% url 'portada:post_new' %}" class="top-menu" title="Nueva publicación"><span class="glyphicon glyphicon-plus" style="color:black"></span></a>
                <a href="{% url 'portada:post_draft_list' %}" class="top-menu" title="Borradores"><span class="glyphicon glyphicon-edit" style="color:black"></span></a>
              {% endif %}
              {% endif %}
							<!-- <h3>Este es nuestro Slide #1</h3>
							<p>Lorem ipsum dolor sit amet.</p> -->
					</div>
		</div>
	</div>
	<script src="jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

<body>
      <div class="content container">
        <div class="row">
          <div class="col-md-8">
              {% for post in posts %}
                  <div class="post">
                    <!--  <div class="date">
                          {{ post.published_date }}
                      </div>-->
<!--                      <h1><a href="{% url 'portada:post_detail' post.id %}">{{ post.title }}</a></h1>
                        {{ post.published_date }}<!--<p>{{ post.text|safe  }}</p>-->
<!--                  </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </body>
</html>
{% endblock %}
