{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% load embed_video_tags %}

<html>
  <head>
    <meta charset="utf-8">
      <head>
        <title>{% block title %}Iglesia Jesucristo mi Esperanza {% endblock %}</title>

        <style type="text/css" media="screen">
          .wrapper {
              position: relative;
              padding-bottom: 56.25%; /* 16:9 */
              padding-top: 25px;
              height: 0;
          }
          .wrapper iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
        </style>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons
        <link href="img/favicon.png" rel="icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
        <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">

        <!-- Nivo Slider Theme -->
        <link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Responsive Stylesheet File -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

        <!-- =======================================================
          Theme Name: eBusiness
          Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
          Author: BootstrapMade.com
          License: https://bootstrapmade.com/license/
        ======================================================= -->
        <!--<title>Sistema Iglesia</title>-->
    </head>
  <body>
    {% block navbar %}
      <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">

                <!-- Navigation -->
                <nav class="navbar navbar-fixed-top">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
    										<span class="sr-only">Toggle navigation</span>
    										<span style="background-color:grey;" class="icon-bar"></span>
    										<span style="background-color:grey;" class="icon-bar"></span>
    										<span style="background-color:grey;" class="icon-bar"></span>
    									</button>
                    <!-- Brand -->
                    <a class="navbar-brand page-scroll sticky-logo" href="{% url 'portada:post_list' %}">
                      <h1 style="margin-left:70px;">Sunchales</h1>
                      <img href="{% url 'portada:post_list' %}" src="../media/imagenes/ijme-negro1.png" style="margin-top:-42px; margin-left:10px;" width="50">

    								</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
                      <li class="active">
                        <a class="page-scroll" href="#home">Inicio</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#about">Quiénes somos</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#services">Ministerios</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#team">Radio</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#">Discipulados</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#">Grupos pequeños</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                      </li>
                      <li>
                        <a href="{% url 'login' %}" >Ingresar</a>
                      </li>
                    </ul>
                  </div>
                  <!-- navbar-collapse -->
                </nav>
                <!-- END: Navigation -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-area end -->
      </header>
      <!-- header end -->
    {% endblock %}
<!-- Start Slider Area -->
    <div id="home" class="slider-area">
      <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
          <img src="{% static 'img/slider/slider.jpg' %}" alt="" title="#slider-direction-1" />
          <img src="{% static 'img/slider/radio.jpg' %}" alt="" title="#slider-direction-2" />
          <img src="{% static 'img/slider/dom.jpg' %}" alt="" title="#slider-direction-3" />
          <img src="{% static 'img/slider/sli4.jpg' %}" alt="" title="#slider-direction-4" />
        </div>

        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction slider-one">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
                  <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1">bienvenido</h2>
                  </div>
                  <!-- layer 2
                  <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <h1 class="title2">"DIOS QUIERE LO MEJOR PARA SUS HIJOS"</h1>
                  </div>-->
                  <div class="layer-1-2 wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
                    <img src="../media/imagenes/ijme-negro.png" width="17%" style="position:relative; margin-top:5%" alt="" title="">
                  </div>
                  <!-- layer 3 -->
                  <!--<div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <a class="ready-btn right-btn page-scroll" href="#services">See Services</a>
                    <a class="ready-btn page-scroll" href="#about">Learn More</a>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction slider-two">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content text-center">
                  <!-- layer 1 -->
                  <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1"></h2>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-1-2 wow slideInDown" data-wow-duration="1s" data-wow-delay=".1s">
                    <h1 class="title2" style="margin-top:-30px;">¡Escuchanos las 24/7!</h1>
                  </div>
                  <div class="layer-1-2 wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                      <img src="{% static 'img/about/radio-slider.png'%}" width="70%" style="position:relative;" alt="">
                  </div>
                  <!-- layer 3 -->
                  <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <a class="ready-btn right-btn page-scroll" style="margin-left:2%;" href="#team">Escuchar en vivo</a>
                  <!--<a class="ready-btn page-scroll" href="#about">Learn More</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction slider-two">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
                  <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1">Reunión de la familia:</h2>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-1-2 wow zoomIn" data-wow-duration="2s" data-wow-delay=".1s">
                    <h1 class="title2">DOMINGOS 19:00hs.</h1>
                  </div>
                  <!-- layer 3 -->
                  <div class="layer-1-1 hidden-xs wow slideInUp" position="relative" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1">¡Te esperamos!</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- direction 4-->
        <div id="slider-direction-4" class="slider-direction slider-two">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 2 -->
                  <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <h1 class="title2">DIOS SIEMPRE QUIERE LO MEJOR PARA SUS HIJOS</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- End Slider Area -->
    <!-- End Slider Area -->

    <!-- Start About area -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Iglesia Jesucristo mi Esperanza Sunchales</h2>
            </div>
          </div>
        </div>
        <div class="embed-container" style="position: relative; text-align:center; padding-bottom: auto; height: auto; overflow: hidden;">

          {% for i in obj %} <!--{% video i.video %}-->
            <div class="col-md-6 col-sm-6 col-xs-12 ">
              <iframe class="responsive-iframe" width="100%" height="300" src= "{{ i.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          {% endfor %}

        </div><br><br>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
								  <img src="{% static 'img/about/11.jpg'%}" alt="">
                  <img style="margin-top:3px" src="{% static 'img/about/12.jpg'%}" alt="">
                  <img style="margin-top:3px" src="{% static 'img/about/13b.jpg'%}" alt="">
              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                  <h3 class="sec-head">Acerca de nosotros</h3>
                <p align="justify">
                  La Iglesia Jesucristo Mi Esperanza (IJME) tiene como cabeza y autoridad al Señor Jesús, dándole unidad, propósito y dirección. Se predica el verdadero evangelio del Señor Jesús, que salva, restaura y santifica vidas por medio de la obra del Espíritu Santo.
                  “Porque no envió Dios a su Hijo al mundo para condenar al mundo, sino para que el mundo sea salvo por él.” Juan 3:17
                  También leemos en la Biblia lo siguiente: “Mas a todos los que le recibieron, a los que creen en su nombre, les dio potestad de ser hechos hijos de Dios; los cuales no son engendrados de sangre, ni de voluntad de carne, ni de voluntad de varón, sino de Dios” Juan 1. 12
                  Las personas que aceptan y reconocen a Jesús como su Señor y salvador personal, se convierten en un hijo/a de Dios.
                </p>
                <ul>
                  <li>
                    <!--<i class="fa fa-check"></i><a href="#">-->
                      <h3 class="sec-head">Nuestro objetivo:</h3>
                    <!--</a>-->
                  </li>
                  <p align="justify">
                    Es llevar adelante su <b>VISION</b>: Llegar a cada hogar de Sunchales, de Santa Fe, de Argentina y hasta lo último de la tierra con el Evangelio de Jesucristo.
                  </p>
                  <li>
                      <h3 class="sec-head">¿Y cómo lo hacemos?</h3>
                  </li>
                  <p align="justify">
                    Llevando a cabo nuestra <b>MISION</b>: Hacemos discípulos que enseñen a otros a hacer discípulos para multiplicarnos como Jesús nos mandó.
                  </p>
                  <li>
                      <h3 class="sec-head">Para poder llevar adelante dicha <b>MISION</b>, desarrollamos los siguientes propósitos:</h3>
                  </li>
                  <p align="justify">
                    <b>CUIDAR</b> a las nuevas personas que forman parte de la Iglesia, enseñándoles a dar sus primeros pasos como hijos de Dios mediante los discipulados personales y/o grupales, visitas,
                    encuentros, grupos pequeños (GP), etc. Siendo de esta forma, parte de la Familia de Dios y teniendo comunión con los hermanos. <b>CAPACITAR</b> a cada miembro activo de la Iglesia a través
                    del Instituto Bíblico y las escuelas dominicales, discipulando a cada uno para ser cada día más como Cristo. <b>SERVIR</b> a Dios a través de los distintos ministerios que la Iglesia posee,
                    logrando de esta forma integrar a todas las personas al servicio de Dios, amando a Dios y a su prójimo como a sí mismo. <b>EVANGELIZAR</b> a todas las personas llevando el mensaje de salvación de Jesús.
                    Logrando así agradar y <b>ADORAR</b> a Dios el padre celestial de toda la humanidad.
                  </p>
                  <li>
                      <h3 class="sec-head">Ezequiel y Cecilia Navarro</h3>
                  </li>
                  <p align="justify">
                    Son el matrimonio pastoral de la Iglesia desde el año 2002. Sus estudios teológicos y de capacitación ministerial lo realizaron en el Instituto Bíblico Palabra de Vida Argentina,
                    situado en la Ciudad de San Miguel del Monte, provincia de Buenos Aires. Luego Dios los llamó a pastorear la <b>Iglesia Jesucristo Mi Esperanza</b> de la ciudad de Sunchales provincia de Santa Fe.
                    El ministerio pastoral que llevan adelante se caracteriza por el amor a las almas perdidas y un fuerte llamado a la evangelización. La mayoría de ministerios y actividades que se llevan a cabo tienen como
                    propósito alcanzar esas almas que aún no han conocido a Dios.
                  </p>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div>
    <!-- End About area -->
<div style="background-image: url(../static/img/background/bg3.jpg); background-attachment: fixed;background-repeat: no-repeat;background-size: cover;background-position:top-center;">
  <div class="well-bg">
    <div class="test-overly"></div>
        <!-- Start Service area -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2 style="color:white;">Ministerios</h2><br></br>
              <p style="color:white;" >Los misterios tienen como principal objetivo servir a Dios y glorificar su nombre, como así también servir al prójimo, consecuentemente edificamos la Iglesia que es el cuerpo de Cristo, amándonos unos a otros.</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="services-contents">
            <!-- Start Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                      <i style="color:#3EC1D5;" class="fa fa-music"></i>
                    </a>
                    <h4 style="color:#3EC1D5;">Alabanza y Adoración</h4>
                    <p style="color:white;" align="justify">
                      El objetivo del ministerio es guiar al pueblo de Dios a tener un momento de intimidad con Él, alabándole en espíritu y verdad, y proclamar sus virtudes.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
  											<i style="color:#3EC1D5;"class="fa fa-film"></i>
  										</a>
                    <h4 style="color:#3EC1D5;">Multimedia</h4>
                    <p style="color:white;" align="justify">
                      En este ministerio se realizan tareas relacionadas con el manejo de los medios audiovisuales que la Iglesia local utiliza en cada servicio y eventos especiales.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
  											<i style="color:#3EC1D5;"class="fa fa-line-chart"></i>
  										</a>
                    <h4 style="color:#3EC1D5;">Administración y finanzas</h4>
                    <p style="color:white;" align="justify">
                      Su objetivo es administrar los recursos materiales, financieros y económicos que ingresan y egresan en la congregación local. Realizando presupuestos, balances, proyecciones, estadísticas contables, etc.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
  											<i style="color:#3EC1D5;"class="fa fa-handshake-o"></i>
  										</a>
                    <h4 style="color:#3EC1D5;">Ujieres </h4>
                    <p style="color:white;" align="justify">
                      Son los encargadas de recibir con amabilidad, cordialidad y buena disposición a todas las personas que ingresan y participan de una reunión, servicio o evento especial. Deben estar siempre a disposición para servir y lograr que una visita se sienta contenida y cómoda, como si estuviera en su propio hogar.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
  											<i style="color:#3EC1D5;"class="fa fa-sliders"></i>
  										</a>
                    <h4 style="color:#3EC1D5;">Sonido</h4>
                    <p style="color:white;" align="justify">
                      Las tareas que se llevan a cabo deben ser ejecutadas por personas idóneas y profesionales en la materia, en cada servicio o evento especial que se realice. En el mismo se operan consolas de sonido, luces, instrumentos, amplificadores, potencias, parlantes, etc.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
  											<i style="color:#3EC1D5;"class="fa fa-gears"></i>
  										</a>
                    <h4 style="color:#3EC1D5;">Mantenimiento</h4>
                    <p style="color:white;" align="justify">
                      Las personas que conforman dicho ministerio, son las encargadas de presentar presupuestos y ejecutar las compras atinentes a las tareas que se llevan a cabo, como así también, contratar a terceros que realicen trabajos que estén fuera del alcance de los integrantes del mismo.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-paint-brush"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Decoración</h4>
                    <p style="color:white;" align="justify">
                      Este ministerio tiene la responsabilidad y función de decorar y embellecer lugares donde la Iglesia local realice reuniones y eventos especiales, la gran mayoría de las veces se trata del templo ubicado en calle Alem 1360.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-level-up"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Intercesión y oración</h4>
                    <p style="color:white;" align="justify">
                      Puntualmente, este ministerio de intercesión y oración se desarrolla en la Iglesia con el fin de presentar peticiones específicas delante de Dios en conjunto y acuerdo con un grupo de hermanas/nos que conforman este ministerio.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-laptop"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Secretaría</h4>
                    <p style="color:white;" align="justify">
                      En este ministerio se realizan tareas de administración, gestión y comunicación de la Iglesia, se imprimen materiales, folletos, libros, se realizan banners de comunicación digital. También son responsables del manejo de las plataformas digitales y redes sociales.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-group"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Jóvenes y adolescentes</h4>
                    <p style="color:white;" align="justify">
                      El grupo está dirigido a jóvenes de 11 a 17 años. El deseo de Dios y de nuestra Iglesia es que seas parte de una generación apasionada por Dios.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-book"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Escuela dominical</h4>
                    <p style="color:white;" align="justify">
                      En nuestra iglesia sabemos el valor que un niño tiene ante los ojos de nuestro Señor. Cuando recibimos a estos pequeñitos nos sentimos honrados, gozosos, conscientes del privilegio y responsabilidad que tenemos delante de Dios de enseñarles su Palabra.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-heartbeat"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Restauración</h4>
                    <p style="color:white;" align="justify">
                      La Sanidad Interior y la Liberación son herramientas excelentes para llevar a cabo la valiosa tarea de restauración. Primeramente al cuerpo ministerial, a la iglesia y luego a aquellas personas que están lastimadas y extraviadas sin esperanza.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon" href="#">
                        <i style="color:#3EC1D5;"class="fa fa-globe"></i>
                      </a>
                    <h4 style="color:#3EC1D5;">Evangelismo</h4>
                    <p style="color:white;" align="justify">
                      Este ministerio es fundamental para el crecimiento y la expansión de la obra de Dios, el mismo tiene como principal objetivo dar a conocer las buenas nuevas de Jesús. Para llevar adelante dicho objetivo se realizan distintas actividades durante todo el año donde se capacita a toda persona que desea ser parte de este gran privilegio, que es compartir las buenas nuevas del evangelio.
                    </p>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- End Service area -->

    <!-- Start Wellcome Area -->
    <br><br><div class="section-headline text-center">
      <h2>Nuestra misión</h2>
    </div>
    <div class="wellcome-area" style="background-image: url(../static/img/background/bg.jpg);">
      <div class="well-bg">
        <div class="test-overly"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="wellcome-text">
                <div class="well-text text-center">
                  <h2><i>"Hacemos discípulos que enseñen a otros a hacer discípulos para multiplicarnos como Jesús nos mandó."</i></h2>
                  <!--<p>

                  </p>-->
                  <!--<div class="subs-feilds">
                    <div class="suscribe-input">
                      <input type="email" class="email form-control width-80" id="sus_email" placeholder="Email">
                      <button type="submit" id="sus_submit" class="add-btn width-20">Subscribe</button>
                      <div id="msg_Submit" class="h3 text-center hidden"></div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Wellcome Area -->

    <!-- Start team Area -->
      <div id="team" class="our-team-area area-padding"  style= "background: rgba(255,255,5,1);
          background: -moz-linear-gradient(top, rgba(255,255,5,1) 0%, rgba(5,255,243,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,5,1)), color-stop(100%, rgba(5,255,243,1)));
          background: -webkit-linear-gradient(top, rgba(255,255,5,1) 0%, rgba(5,255,243,1) 100%);
          background: -o-linear-gradient(top, rgba(255,255,5,1) 0%, rgba(5,255,243,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,255,5,1) 0%, rgba(5,255,243,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,5,1) 0%, rgba(5,255,243,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff05', endColorstr='#05fff3', GradientType=0 );">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center layer-1-2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                  <img src="{% static 'img/about/radioslider2.png'%}" width="70%">
                </div>
              <br>
            </div>
          </div>
          <center><h4><b>¡Escuchanos en vivo aquí o <a href="https://play.google.com/store/apps/details?id=genex.radioencuentro">DESCARGA LA APP</a> PARA ANDROID!</b></h4>
          <!-- START OF THE RADIO HTML5 PLAYER EMBEDDING -->
            <br><audio controls="true" preload="none" onmouseover="this.style.width='30%';"onmouseout="this.style.width='30%';">
              <source src="http://radio02.ferozo.com:8144/;stream/1/stream?type=.mp3" type="audio/mp3">
                Tu navegador no soporta el elemento de audio.
            </audio></center>
          <!-- END OF THE RADIO HTML5 PLAYER EMBEDDING -->
      <br><br><p align="center"><b>Radio Encuentro 107.3</b> es la radio de Sunchales y la región que lleva un mensaje diferente. No se trata de religión; el objetivo es llevar el mensaje de Jesús de una manera dinámica y moderna. Destacamos a Dios sobre todas las cosas, llevando fe, amor y perdón a través de la música, mensajes, reflexiones, pensamientos y nuestros programas en vivo:</p>

      <!-- Start portfolio Area -->
      <div id="portfolio" class="portfolio-area area-padding fix">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <!--<h2>Our Portfolio</h2>-->
              </div>
            </div>
          </div>
            <div class="row">
              <div class="awesome-project-content">
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12 design development">
                  <div class="single-awesome-project">
                    <div class="awesome-img">
                      <img src="{% static 'img/portfolio/rekargados.png' %}" alt=""/>
                      <div class="add-actions text-center">
                        <div class="project-dec">
                          <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/rekargados.png' %}">
                            <h4>REKARGADOS</h4>
                            <span>Lunes 19:00 hs.</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                  <div class="single-awesome-project">
                    <div class="awesome-img">
                      <img src="{% static 'img/portfolio/transformados.png' %}" alt=""/>
                      <div class="add-actions text-center">
                        <div class="project-dec">
                          <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/transformados.png' %}">
                            <h4>TRANSFORMADOS</h4>
                            <span>Jueves 19:00 hs.</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12 design">
                  <div class="single-awesome-project">
                    <div class="awesome-img">
                      <img src="{% static 'img/portfolio/bendita mañana.png' %}" alt=""/>
                      <div class="add-actions text-center">
                        <div class="project-dec">
                          <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/bendita mañana.png' %}">
                            <h4>BENDITA MAÑANA</h4>
                            <span>Martes y Jueves 09:00 hs.</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12 photo development">
                  <div class="single-awesome-project">
                    <div class="awesome-img">
                      <img src="{% static 'img/portfolio/invencibles.png'%}" alt=""/>
                      <div class="add-actions text-center">
                        <div class="project-dec">
                          <a class="venobox" data-gall="myGallery" href="{% static 'img/portfolio/invencibles.png'%}">
                            <h4>INVENCIBLES</h4>
                            <span>Miércoles 17:00 hs.</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single-awesome-project end -->
              <!-- single-awesome-project start -->
              <div class="col-md-4 col-sm-4 col-xs-12 photo development">
                <div class="single-awesome-project">
                      <div class="awesome-img">
                        <img src="{% static 'img/portfolio/programacion.png'%}" alt=""/>
                        <div class="add-actions text-center">
                          <div class="project-dec">
                            <a class="venobox" data-gall="myGallery" width="20" href="{% static 'img/portfolio/programacion.png'%}">
                              <h4>Nuestra programación</h4>
                              <span>¡Sintonízanos!</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <!-- single-awesome-project end -->
            </div>
          </div>
        </div>
      </div>
          Como visión nos propusimos crecer en programas locales motivando a que muchas personas se involucren en este ministerio. En los próximos 5 años anhelamos tener más de la mitad de programación propia y que personas se acerquen a Dios por escuchar esta radio.

          <br><br><b>*FM Encuentro no persigue fines lucrativos, sino que es respaldado por los oyentes.*</b>

          <br><br><h5>Datos técnicos/legales:</h5>

          <p>107.3 MHz. Reglamento General del Servicio de Radiodifusión Sonora por Modulación de Frecuencia – FM (Resolución Nº 142 SC/96)<br>

          Categoría de la estación “D” <br>
          ENACOM <br>

          Ente Nacional de Comunicaciones AFSCA Ley 26.522 Servicios de Comunicación Audiovisual y reglamentación.</p>
        </div>
      </div>
      <!-- End Team Area -->
      <!-- Start Testimonials -->
    <!--<br><div class="section-headline text-center">
      <br><h2>Discipulados</h2>
      <div class="testimonials-area" style="background-image: url(../static/img/background/bg2.jpg);">
        <div class="testi-inner area-padding">
          <div class="testi-overly"></div>
          <div class="container ">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Start testimonials Start -->
    <!--            <div class="testimonial-content text-center">
                  <!--<a class="quate" href="#"><i class="fa fa-quote-right"></i></a>-->
                  <!-- start testimonial carousel -->
    <!--              <div class="testimonial-carousel">
                    <div class="single-testi">
                      <div class="testi-text">
                        <p>
                          Cada persona que acepta a Jesús como el Señor y salvador de su vida y desea formar parte de esta Iglesia local, se lo instruirá con un discipulado personal/grupal para conocer las bases y rudimentos del plan de Dios para su vida. <br>
                        </p>
                      </div>
                    </div>
                    <!-- End single item -->
    <!--                <div class="single-testi">
                      <div class="testi-text">
                        <p>
                          En la actualidad IJME Sunchales está utilizando el material "Los Mandamientos de Jesús" y "Nueva vida en Cristo volumen 1".
                        </p>
                      </div>
                    </div>
                    <!-- End single item -->
    <!--              </div>
                </div>
                <!-- End testimonials end -->
    <!--          </div>
              <!-- End Right Feature -->
    <!--        </div>
          </div>
        </div>
      </div>
    <!-- End Testimonials -->
    <!-- Start contact Area -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Contacto</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-mobile"></i>
                  <p>
                    Whatsapp: +54 9 3493 418359 <br>
                    Teléfono: +54 9 3493 422265<br>
                    <!--<span>Monday-Friday (9am-5pm)</span>-->
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-envelope-o"></i>
                  <p>
                    ijmesunchales@gmail.com<br>
                    <!--<span>Web: www.example.com</span>-->
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-map-marker"></i>
                  <p>
                    Alem 1360<br>
                    <span>Sunchales, Santa Fe, Argentina</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-4 col-xs-12">
              <!-- Start Google Map -->
                <!-- Start Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3421.8856131699354!2d-61.55308678512439!3d-30.94575908156347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94354503728e10f5%3A0x1113ec426f15d055!2sIglesia%20Jesucristo%20Mi%20Esperanza%20-%20Sunchales!5e0!3m2!1ses-419!2sar!4v1592682403296!5m2!1ses-419!2sar" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                <!-- End Map -->
                <!-- End Google Map -->
<!--          <br><div class="wrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BAZ_sLeTVSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    <!-- End Contact Area -->
    <!-- Start Footer bottom Area -->

    <footer>
      <div class="footer-area">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-content">
                <div class="footer-head">
                  <div class="footer-logo">
                    <!--<h2><span>e</span>Business</h2>-->
                    <img src="../media/imagenes/ijme-negro1.png" width="20%"></img>
                  </div>
                </div>
              </div>
            </div>
            <!-- end single footer -->
            <div class="col-md-4 col-sm-4 col-xs-12" style="display: flex; justify-content: center;align-items: center;height: 50px;">
              <div class="footer-content">
                <div class="footer-head">
                  <div class="footer-contacts"">
                    <!--<p><span>Registro Nacional de Culto: </span>9999999999999</p>-->

                    <div class="footer-icons">
                      <ul>
                        <li>
                          <a href="https://fb.com/ijmesunchales"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="https://www.instagram.com/ijmesunchales"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                          <a href="https://www.youtube.com/channel/UCBdi68liPwEWLBg7m9JHN1w"><i class="fa fa-youtube-play"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="display: flex; justify-content: center;align-items: center;height: 70px;">
              <div class="footer-content">
                <div class="footer-head">
                  <a>Desarrollo: Mélani Destéfanis</a>
                </div>
              </div>
            </div>
            <!-- end single footer -->
        <div>
      </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <!--<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script> --script repetido de la base.html-->
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'lib/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/parallax/parallax.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/appear/jquery.appear.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

      {% block extrajs %}
      {% endblock %}
  </body>

  </html>
{% endblock %}
