{% extends 'base/base.html' %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/evento/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Descripción</th>
			<th>Fecha</th>
			<th>Lugar</th>
			<th>Hora</th>
		</tr>
	</thead>
	<tbody>
		{% if eventos1 %}
	  {% for eve1 in eventos1 %}
	   <tr>
    	<td>{{ eve1.descripcion_evento }}</td>
    	<td>{{ eve1.fecha_evento }}</td>
			<td>{{ eve1.lugar_evento }}</td>
			<td>{{ eve1.hora_evento }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'evento:evento_editar' eve1.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'evento:evento_eliminar' eve1.id%}">Eliminar</a>
		  </td>
     </tr>
	  {% endfor %}
		{% elif eventos2 %}
		{% for eve2 in eventos2 %}
		 <tr>
	   	<td>{{ eve2.descripcion_evento }}</td>
	   	<td>{{ eve2.fecha_evento }}</td>
			<td>{{ eve2.lugar_evento }}</td>
			<td>{{ eve2.hora_evento }}</td>
			<td>
		  	<a class="btn btn-primary" style="line-height: 15px" href="{% url 'evento:evento_editar' eve2.id%}">Editar</a>
				<a class="btn btn-danger" style="line-height: 15px" href="{% url 'evento:evento_eliminar' eve2.id%}">Eliminar</a>
			</td>
	   </tr>
		{% endfor %}
		{% elif eventos3 %}
		{% for eve3 in eventos3 %}
			<tr>
		   <td>{{ eve3.descripcion_evento }}</td>
			 <td>{{ eve3.fecha_evento }}</td>
			 <td>{{ eve3.lugar_evento }}</td>
			 <td>{{ eve3.hora_evento }}</td>
			 <td>
				<a class="btn btn-primary" style="line-height: 15px" href="{% url 'evento:evento_editar' eve3.id%}">Editar</a>
				<a class="btn btn-danger" style="line-height: 15px" href="{% url 'evento:evento_eliminar' eve3.id%}">Eliminar</a>
			 </td>
			</tr>
	  {% endfor %}
		{% elif eventos4 %}
		{% for eve4 in eventos4 %}
			<tr>
		  	<td>{{ eve4.descripcion_evento }}</td>
				<td>{{ eve4.fecha_evento }}</td>
				<td>{{ eve4.lugar_evento }}</td>
				<td>{{ eve4.hora_evento }}</td>
				<td>
					<a class="btn btn-primary" style="line-height: 15px" href="{% url 'evento:evento_editar' eve4.id%}">Editar</a>
					<a class="btn btn-danger" style="line-height: 15px" href="{% url 'evento:evento_eliminar' eve4.id%}">Eliminar</a>
				</td>
			</tr>
		{% endfor %}
    {% else %}
  	<h1>No hay eventos registrados</h1>    <!-- ver esto ---->
  	{% endif %}
  	</tbody>
  </table>
  <ul class="pager">
  	<li>
  		{% if page_obj.has_previous %}
         	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  		{% endif %}
    </li>
  	<li>
  		{% if page_obj.has_next %}
       	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

      	{% endif %}
    </li>
  </ul>

  {% endblock%}
