{% if eventos %}
{% for evento in eventos %}
<tr>
  <td>{{ evento.descripcion_evento }}</td>
  <td>{{ evento.fecha_evento }}</td>
  <td>{{ evento.lugar_evento }}</td>
  <td>{{ evento.hora_evento }}</td>
  {%block campobajaevento%}
  {%endblock%}
  <td>
    {% if evento.fecha_baja_evento == null %}
      {% if perms.evento.change_evento %}
        <a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'evento:evento_editar' evento.id%}">Editar</a>
      {% endif %}
      {% if perms.evento.delete_evento %}
        <a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'evento:evento_eliminar' evento.id%}">Eliminar</a>
      {% endif %}
    {%endif%}
    {%block pruebaevento%}
    {%endblock%}
  </td>
</tr>
{% endfor %}
{% else %}
  <td colspan="13">
    No hay eventos
  </td>
{% endif %}
