{% extends 'base/base.html' %}
{% block title %}
	Detalle de Eventos
{% endblock %}

{% block content %}

<!--boton buscar ---->
<!--
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/evento/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->
{%block encabezado%}
	<h2>Eventos:</h2>
{%endblock%}
{% block buscadorevento %}
<div id="contenedor" >
	<th>Buscar: </th>
			<input class="form-control-sm" id="buscar-eventos" type="text" placeholder="Descripción"/>
</div>
{%endblock%}<h1></h1>
<table id="contenedor" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Descripción</th>
			<th>Fecha</th>
			<th>Lugar</th>
			<th>Hora</th>
			{%block titulobajaevento%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if eventos %}
		{% for evento in eventos %}
		<tr>
			<td>{{ evento.descripcion_evento |capfirst }}</td>
			<td>{{ evento.fecha_evento }}</td>
			<td>{{ evento.lugar_evento |capfirst}}</td>
			<td>{{ evento.hora_evento }}</td>
			{%block campobajaevento%}
			{%endblock%}
			<td>
				{% if evento.fecha_baja_evento == null %}
					{% if perms.evento.change_evento %}
						<a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'evento:evento_editar' evento.id%}">Editar</a>
					{% endif %}
					{% if perms.evento.delete_evento %}
						<a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'evento:evento_eliminar' evento.id%}">Eliminar</a>
					{% endif %}
				{%endif%}
				{%block pruebaevento%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<td colspan="13">
				No hay eventos
			</td>
		{% endif %}
	</tbody>
</table>
<ul id="contenedor" class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
  </li>
</ul>
{% block botonfinalevento %}
	{% if perms.evento.delete_evento %}
		<a id="contenedor" class="btn btn-danger" style="line-height: 15px" href="{% url 'evento:evento_listar_baja' %}">Ver  registros eliminados</a>
	{%endif%}
{%endblock%}
{% endblock%}

{% block extrajs %}
<script>
	$('#buscar-eventos').keyup(function (event) {
	  var query =($('#buscar-eventos').val());
	  if ( $.trim( $('#buscar-eventos').val() ) != '' ) {
			ajax(query,"buscarevento/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});

function mostrarMain(){
	$('#resultado-busqueda').hide();
	$('#main').show("slow");
}
function esconderMain(){
	$('#resultado-busqueda').show("slow");
	$('#main').hide();
}

function ajax(query,url){
	console.log(query);
	$.ajax({
		 type: 'GET',
		 url: url,
		 data: {
			 'csrfmiddlewaretoken': '{{ csrf_token }}',
			 'q': query,
		 },
		 success: function(data) {
			 console.log(data);
				$('#resultado-busqueda').html(data);
		 },
		 error: function(data) {
				console.log(data);
		 }
	 });
}

</script>

{% endblock %}
