{% extends 'evento/evento_listar.html' %}
{% if perms.evento.delete_evento %}

{%block encabezado%}
	<h2>Eventos dados de baja:</h2>
{%endblock%}

{%block titulobajaevento%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobajaevento%}
	<td>{{ evento.fecha_baja_evento }}</td>
{%endblock%}

{%block pruebaevento%}
	<a class="btn btn-primary" style="line-height: 15px" href="{% url 'evento:evento_restaurar' evento.id%}">Restaurar</a>
{%endblock%}

{% block botonfinalevento %}
	<a id="contenedor" class="btn btn-default" style="line-height: 15px" href="{% url 'evento:evento_listar' %}">Volver</a>
{% endblock%}

{% block buscadorevento %}
{% endblock%}
{% endif %}
