{% extends 'base/base.html' %}
{% load static %}


{% block title %}
	Eventos
{% endblock %}

{% block content %}
	{% if perms.evento.add_evento %}
	<h2>Registrar evento:</h2>
	<div class="mb-2">
		<form autocomplete="off" method="post">
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<div style="float: left; margin: 27px 17px;">
			<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
			<a class="btn btn-danger" style="line-height: 15px" href="{% url 'evento:evento_listar' %}">Cancelar</a>
			</div>
		</form>
	</div>
		{% endif %}
{% endblock %}
{% block extrajs %}
<script>

$('#id_fecha_evento').datepicker({
		todayBtn: "linked",
		format: 'dd-mm-yyyy',
		startDate: '1d',
		language: 'es',
		autoclose: true,
	});

$('#id_hora_evento').timepicker({
		showMeridian: false,
		defaultTime: '00:00',
	});
</script>

{% endblock %}
