{% extends 'base/base.html' %}

{% block content %}
	{% if perms.evento.delete_evento %}
	<form style="margin: 80px auto auto 20px" method="post">
		{% csrf_token %}
		<h3>¿Desea eliminar el evento {{ evento.descripcion_evento}}?</h3>
		<button class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
		<a class= "btn btn-default" style="line-height: 15px" href="{% url 'evento:evento_listar' %}">Cancelar</a>
	</form>
	{% endif %}
{% endblock %}
