
{% extends 'base/base.html' %}
{% load static %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block title %}
IJME Sunchales
{% endblock %}
{% block navbar%}
{% endblock %}


{% block content %}
  <div class="row justify-content-center" style="font-size:15px; margin-top:50px;">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title row justify-content-center" style="margin-top: 20px;">Iniciar Sesión</h1>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/formlogin.html' %}
            <button type="submit" class="btn btn-outline-primary btn-block" style="font-size:15px; padding: 10px; margin-top: 20px;">Ingresar</button>
						<a class="btn btn-primary btn-block" href="{% url 'password_reset' %}" style="font-size:13px">Olvidé mi contraseña</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
