{% extends 'base/base.html' %}

{% block content %}
{% if perms.salida.delete_salida %}
	<form method="post">
		{% csrf_token %}
		<h3>¿Desea eliminar la salida gestionada por {{ object.id_ministerio }}?</h3>
		<button class="btn btn-danger" style="line-height: 15px" type="submit">Sí, eliminar</button>
		<a class= "btn btn-default" style="line-height: 15px" href="{% url 'salida:salida_listar' %}">Cancelar</a>
	</form>
{% endif %}
{% endblock %}
