{% extends 'base/base.html' %}

{% block title %}
	Alta Salida
{% endblock %}

{% block content %}
{% if perms.salida.delete_salida %}
	<h2>Registrar salida de inventario:</h2>
	<div class="mb-2">
		<form autocomplete="off" method="post">
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<div style="float: left; margin: 27px 17px;">
				<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
				<a class="btn btn-danger" style="line-height: 15px" href="{% url 'entradasalida:entradasalida_listar' %}">Cancelar</a>
			</div>
		</form>
	</div>
{% endif %}
{% endblock %}
{% block extrajs %}

<script>
	$('#id_fecha_salida').datepicker({
		todayBtn: "linked",
		format: 'dd-mm-yyyy',
		endDate: '0d',
		language: 'es',
		autoclose: true,
	});


</script>
{% endblock %}
