{% extends 'base/base.html' %}
{% block title %}
	Detalle de Salidas
{% endblock %}

{% block content %}
{%block encabezado%}
	<h2>Salidas de inventario:</h2>
{%endblock%}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Inventario</th>
			<th>Ministerio</th>
			<th>Cantidad de Salidas</th>
			<th>Fecha de Salidas</th>
			<th>Observaciones</th>
			{%block titulobajasalida%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if salidas %}
		{% for salida in salidas %}
		<tr>
			<td>{{ salida.id_articulo.descripcion_articulo }}</td>
			<td>{{ salida.id_ministerio.nombre_ministerio }}</td>
			<td>{{ salida.cantidad_salida }}</td>
			<td>{{ salida.fecha_salida }}</td>
			<td>{{ salida.observaciones_salida}}</td>
			{%block campobajasalida%}
			{%endblock%}
			<td>
				{% if fecha_baja_salida__isnull == null %}
					{% if perms.salida.delete_salida %}
						<a class="btn btn-danger" style="line-height: 15px" href="{% url 'salida:salida_eliminar' salida.id%}">Eliminar</a>
					{%endif%}
				{%endif%}
				{%block pruebasalida%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<td colspan="13">
				No hay salidas
			</td>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
  </li>
</ul>
{% endblock%}
