{% extends 'salida/salida_list.html' %}

	{%block encabezado%}
		<h2>Salidas de inventario dadas de baja:</h2>
	{%endblock%}

{%block titulobajasalida%}
	<td>Fecha Baja</td>
{%endblock%}

{%block campobajasalida%}
	<td>{{ salida.fecha_baja_salida }}</td>
{%endblock%}

<!--{%block pruebasalida%}-->

<!--{%endblock%}-->

{% block botonfinalsalida %}
<a class="btn btn-default" style="line-height: 15px" href="{% url 'salida:salida_listar' %}">Volver</a>
{% endblock%}
