{% extends 'base/base.html' %}

{% block title %}
	Alta Matrimonio
{% endblock %}

{% block content %}
<div class="mb-2">
<form method="post">
	{% csrf_token %}
	{% include 'includes/form.html' %}
	<button class="btn btn-default" type="submit">Registrar</button>
	<a class="btn btn-default" href="{% url 'persona:index' %}">Cancelar</a>



</form>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}
