{% extends 'matrimonio/matrimonio_list.html' %}

{%block titulobajamatrimonio%}
	<th>Fecha Baja</th>
{%endblock%}

{%block campobajamatrimonio%}
	<td>{{ matrimonio.fecha_baja_matrimonio }}</td>
{%endblock%}

{%block pruebamatrimonio%}
<a class="btn btn-primary" href="{% url 'matrimonio:matrimonio_restaurar' matrimonio.id%}">Restaurar</a>
{%endblock%}

{% block botonfinalmatrimonio %}
<a class="btn btn-default" href="{% url 'matrimonio:matrimonio_listar' %}">Volver</a>
{% endblock%}
