{% extends 'base/base.html' %}
{% block title %}
	Listado de Matrimonios
{% endblock %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Apellido Matrimonio</td>
			{%block titulobajamatrimonio%}
			{%endblock%}
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
		{% if matrimonios %}
		{% for matrimonio in matrimonios %}
		<tr>
			<td>{{ matrimonio.apellido_matrimonio }}</td>
			{%block campobajamatrimonio%}
			{%endblock%}
			<td>
				{% if matrimonio.fecha_baja_matrimonio == null %}
					<a class="btn btn-primary" href="{% url 'matrimonio:matrimonio_editar' matrimonio.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'matrimonio:matrimonio_eliminar' matrimonio.id%}">Eliminar</a>
				{%endif%}
				{%block pruebamatrimonio%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay matrimonios</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% block botonfinalmatrimonio %}
<a class="btn btn-default" href="{% url 'matrimonio:matrimonio_listar_baja' %}">Ver  registros eliminados</a>
{%endblock%}
{% endblock%}
