{% extends 'base/base.html' %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/ministerio/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Dia</th>
			<th>Lugar</th>
			<th>Hora</th>
			<th>Encargado</th>
			{%block titulobaja%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if ministerios1 %}
		{% for min1 in ministerios1 %}
		<tr>
			<td>{{ min1.nombre_ministerio }}</td>
			<td>{{ min1.dia_actividad }}</td>
			<td>{{ min1.lugar_actividad }}</td>
			<td>{{ min1.hora_actividad }}</td>
			<td>{{ min1.encargado_ministerio.nombre }} {{ min1.encargado_ministerio.apellido_persona }}</td>
			<td>
				{% if min1.fecha_baja_ministerio == null %}
					<a class="btn btn-primary" href="{% url 'ministerio:ministerio_editar' min1.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'ministerio:ministerio_eliminar' min1.id%}">Eliminar</a>
				{%endif%}
			</td>
		</tr>
    {% endfor %}
		{% elif ministerios2 %}
		{% for min2 in ministerios2 %}
		<tr>
			<td>{{ min2.nombre_ministerio }}</td>
			<td>{{ min2.dia_actividad }}</td>
			<td>{{ min2.lugar_actividad }}</td>
			<td>{{ min2.hora_actividad }}</td>
			<td>{{ min2.encargado_ministerio.nombre }} {{ min2.encargado_ministerio.apellido_persona }}</td>
			<td>
				{% if min2.fecha_baja_ministerio == null %}
					<a class="btn btn-primary" href="{% url 'ministerio:ministerio_editar' min2.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'ministerio:ministerio_eliminar' min2.id%}">Eliminar</a>
				{%endif%}
			</td>
		</tr>
		{% endfor %}
		{% elif ministerios3 %}
		{% for min3 in ministerios3 %}
			<tr>
				<td>{{ min3.nombre_ministerio }}</td>
				<td>{{ min3.dia_actividad }}</td>
				<td>{{ min3.lugar_actividad }}</td>
				<td>{{ min3.hora_actividad }}</td>
				<td>{{ min3.encargado_ministerio.nombre }} {{ min3.encargado_ministerio.apellido_persona }}</td>
				<td>
					{% if min3.fecha_baja_ministerio == null %}
						<a class="btn btn-primary" href="{% url 'ministerio:ministerio_editar' min3.id%}">Editar</a>
						<a class="btn btn-danger" href="{% url 'ministerio:ministerio_eliminar' min3.id%}">Eliminar</a>
					{%endif%}
				</td>
			</tr>
		{% endfor %}
		{% elif ministerios4 %}
		{% for min4 in ministerios4 %}
			<tr>
				<td>{{ min4.nombre_ministerio }}</td>
				<td>{{ min4.dia_actividad }}</td>
				<td>{{ min4.lugar_actividad }}</td>
				<td>{{ min4.hora_actividad }}</td>
				<td>{{ min4.encargado_ministerio.nombre }} {{ min4.encargado_ministerio.apellido_persona }}</td>
				<td>
					{% if min4.fecha_baja_ministerio == null %}
						<a class="btn btn-primary" href="{% url 'ministerio:ministerio_editar' min4.id%}">Editar</a>
						<a class="btn btn-danger" href="{% url 'ministerio:ministerio_eliminar' min4.id%}">Eliminar</a>
					{%endif%}
				</td>
			</tr>
		{% endfor %}
		{% elif ministerios %}
		{% for min5 in ministerios5 %}
			<tr>
				<td>{{ min5.nombre_ministerio }}</td>
				<td>{{ min5.dia_actividad }}</td>
				<td>{{ min5.lugar_actividad }}</td>
				<td>{{ min5.hora_actividad }}</td>
				<td>{{ min5.encargado_ministerio.nombre }} {{ min5.encargado_ministerio.apellido_persona }}</td>
				<td>
					{% if min5.fecha_baja_ministerio == null %}
						<a class="btn btn-primary" href="{% url 'ministerio:ministerio_editar' min5.id%}">Editar</a>
						<a class="btn btn-danger" href="{% url 'ministerio:ministerio_eliminar' min5.id%}">Eliminar</a>
					{%endif%}
				</td>
			</tr>
		{% endfor %}
		{% else %}
			<h1>No hay ministerios registrados</h1>
		{% endif %}
  	</tbody>
  </table>
  <ul class="pager">
  	<li>
  		{% if page_obj.has_previous %}
         	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  		{% endif %}
    </li>
  	<li>
  		{% if page_obj.has_next %}
       	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

      	{% endif %}
    </li>
  </ul>
	{% block botonfinalministerio %}
	<a class="btn btn-default" href="{% url 'ministerio:ministerio_listar_baja' %}">Ver  registros eliminados</a>
	<a class="btn btn-default" href="{% url 'ministerio:ministerio_agregar_miembros'%}">Agregar miembros</a>
	{%endblock%}
  {% endblock%}
