{% if entradas %}
{% for entrada in entradas %}
<tr>
  <td>{{ entrada.id_articulo.descripcion_articulo |capfirst }}</td>
  <td>{{ entrada.id_ministerio.nombre_ministerio |title }}</td>
  <td>{{ entrada.cantidad_entrada }}</td>
  <td>{{ entrada.fecha_entrada }}</td>
  <td>{{ entrada.observaciones_entrada |capfirst }}</td>
  {%block campobajaentrada%}
  {%endblock%}
  <td>
    {% if fecha_baja_entrada__isnull == null %}
      {% if perms.entrada.delete_entrada %}
        <a class="btn btn-danger" style="line-height: 15px" href="{% url 'entrada:entrada_eliminar' entrada.id%}">Eliminar</a>
      {%endif%}
    {%endif%}
    {%block pruebaentrada%}
    {%endblock%}
  </td>
</tr>
{% endfor %}
{% else %}
<td colspan="13">
  No hay entradas
</td>
{% endif %}
