{% extends 'base/base.html' %}

{% block title %}
	Detalle de Entradas y Salidas
{% endblock %}

{% block content %}
<form style="float: right" action="">
	<input type="radio" name="demo" value="One"/> Entradas
	<input type="radio" name="demo" value="Two"/> Salidas
	<input type="radio" name="demo" value="Three" checked/> Todo
</form>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"></span>
  </div><!--<th>Buscar: </th>
  <input type="text" class="form-control-sm" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
</div>
<div id="showOne" class="myDiv">
<h1>Entradas</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Articulo</th>
			<th>Ministerio</th>
			<th>Cantidad de Entradas</th>
			<th>Fecha de Entrada</th>
			<th>Observaciones</th>
			{%block titulobajaentrada%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if entradas %}
		{% for entrada in entradas %}
		<tr>
			<td>{{ entrada.id_articulo.descripcion_articulo |capfirst }}</td>
			<td>{{ entrada.id_ministerio.nombre_ministerio |title }}</td>
			<td>{{ entrada.cantidad_entrada }}</td>
			<td>{{ entrada.fecha_entrada }}</td>
			<td>{{ entrada.observaciones_entrada |capfirst }}</td>
			{%block campobajaentrada%}
			{%endblock%}
			<td>
				{% if fecha_baja_entrada__isnull == null %}
					{% if perms.entrada.delete_entrada %}
						<a class="btn btn-danger" style="line-height: 15px" href="{% url 'entrada:entrada_eliminar' entrada.id%}">Eliminar</a>
					{%endif%}
				{%endif%}
				{%block pruebaentrada%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<td colspan="13">
			No hay entradas
		</td>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
  </li>
</ul>
</div>
<div id="showTwo" class="myDiv">
<h1>Salidas</h1>
<table id="salida" class="table table-bordered">
	<thead>
		<tr>
			<th>Articulo</th>
			<th>Ministerio</th>
			<th>Cantidad de Salidas</th>
			<th>Fecha de Salidas</th>
			<th>Observaciones</th>
			{%block titulobajasalida%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if salidas %}
		{% for salida in salidas %}
		<tr>
			<td>{{ salida.id_articulo.descripcion_articulo |capfirst }}</td>
			<td>{{ salida.id_ministerio.nombre_ministerio |title}}</td>
			<td>{{ salida.cantidad_salida }}</td>
			<td>{{ salida.fecha_salida }}</td>
			<td>{{ salida.observaciones_salida |capfirst}}</td>
			{%block campobajasalida%}
			{%endblock%}
			<td>
				{% if fecha_baja_salida__isnull == null %}
					{% if perms.salida.delete_salida %}
						<a class="btn btn-danger" style="line-height: 15px" href="{% url 'salida:salida_eliminar' salida.id%}">Eliminar</a>
					{%endif%}
				{%endif%}
				{%block pruebasalida%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<td colspan="13">
				No hay salidas
			</td>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
  </li>
</ul>
</div>
<div id="showThree" class="myDiv" style="display:none;">
<h1>Entradas</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Articulo</th>
			<th>Ministerio</th>
			<th>Cantidad de Entradas</th>
			<th>Fecha de Entrada</th>
			<th>Observaciones</th>

			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if entradas %}
		{% for entrada in entradas %}
		<tr>
			<td>{{ entrada.id_articulo.descripcion_articulo |capfirst }}</td>
			<td>{{ entrada.id_ministerio.nombre_ministerio |title }}</td>
			<td>{{ entrada.cantidad_entrada }}</td>
			<td>{{ entrada.fecha_entrada }}</td>
			<td>{{ entrada.observaciones_entrada |capfirst }}</td>

			<td>
				{% if fecha_baja_entrada__isnull == null %}
					{% if perms.entrada.delete_entrada %}
						<a class="btn btn-danger" style="line-height: 15px" href="{% url 'entrada:entrada_eliminar' entrada.id%}">Eliminar</a>
					{%endif%}
				{%endif%}

			</td>
		</tr>
		{% endfor %}
		{% else %}
		<td colspan="13">
			No hay entradas
		</td>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
  </li>
</ul>
<h1>Salidas</h1>
<table id="salida" class="table table-bordered">
	<thead>
		<tr>
			<th>Articulo</th>
			<th>Ministerio</th>
			<th>Cantidad de Salidas</th>
			<th>Fecha de Salidas</th>
			<th>Observaciones</th>

			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% if salidas %}
		{% for salida in salidas %}
		<tr>
			<td>{{ salida.id_articulo.descripcion_articulo |capfirst }}</td>
			<td>{{ salida.id_ministerio.nombre_ministerio |title}}</td>
			<td>{{ salida.cantidad_salida }}</td>
			<td>{{ salida.fecha_salida }}</td>
			<td>{{ salida.observaciones_salida |capfirst}}</td>

			<td>
				{% if fecha_baja_salida__isnull == null %}
					{% if perms.salida.delete_salida %}
						<a class="btn btn-danger" style="line-height: 15px" href="{% url 'salida:salida_eliminar' salida.id%}">Eliminar</a>
					{%endif%}
				{%endif%}

			</td>
		</tr>
		{% endfor %}
		{% else %}
			<td colspan="13">
				No hay salidas
			</td>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
  </li>
</ul>
</div>
{% endblock%}
{% block extrajs %}
<script>
	$(document).ready(function(){
	    $('input[type="radio"]').click(function(){
	    	var radiofiltro = $(this).val();
	        $("div.myDiv").hide();
	        $("#show"+radiofiltro).show();
	    });
	});
</script>
{% endblock %}
