{% extends 'base/base.html' %}

{% block title %}
	Entrada - Salidas
{% endblock %}

{% block content %}
<div class="mb-2">
<form autocomplete="off" method="post">
	{% csrf_token %}
	{% include 'includes/form.html' %}
	<div style="float: left; margin: 27px 17px;">
		<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
		<a class="btn btn-danger" style="line-height: 15px" href="{% url 'entradasalida:entradasalida_listar' %}">Cancelar</a>
	</div>

</form>
</div>
{% endblock %}
