{% extends 'base/base.html' %}
{% block title %}
	Detalle de Inventario
{% endblock %}

{% block content %}
{% block encabezado %}
	<h2>Inventario:</h2>
{% endblock %}
{% block buscadorarticulo %}
<div id="contenedor" >
	<th>Buscar: </th>
			<input class="form-control-sm" id="buscar-articulo" type="text" placeholder="Descripción"/>
</div>
{%endblock%}<h1></h1>
	<table id="contenedor" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Descripcion</th>
			<th>Cantidad</th>
			<th>Unidad de medida</th>
			<th>Precio unitario</th>
			<th>Precio total</th>
			{%block titulobajaarticulo%}
			{%endblock%}
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody id="resultado-busqueda">
	</tbody>
	<tbody id="main">
		{% if articulos %}
			{% for articulo in articulos %}
				<tr>
					<td>{{ articulo.descripcion_articulo }}</td>
					<td>{{ articulo.cantidad_articulo }}</td>
					<td>{{ articulo.nombre_unidad }}</td>
					<td>{{ articulo.precio_Compra_articulo}}</td>
					<td>{{ articulo.preeciototal}}</td>
					{%block campobajaarticulo%}
					{%endblock%}
					<td>
					{% if articulo.fecha_baja_articulo == null %}
						{% if perms.inventario.change_articulo %}
							<a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'articulo:articulo_editar' articulo.id%}">Editar</a>
						{% endif %}
						{% if perms.inventario.delete_articulo %}
							<a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'articulo:articulo_eliminar' articulo.id%}">Eliminar</a>
						{% endif %}
					{%endif%}
					{%block pruebaarticulo%}
					{%endblock%}
					</td>
				</tr>
			{% endfor %}
		{% else %}
				<td colspan="13">
					No hay artículos
				</td>
		{% endif %}
		{%block total%}
			<td>
				<th></th>
				<th></th>
				<th></th>
  		  <th>Total</th>
  	    <th>{{total}}</th>
			</td>
		{%endblock%}
		</tbody>
	</table>
	<ul id="contenedor" class="pager">
		<li>
			{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
			{% endif %}
  	</li>
		<li>
			{% if page_obj.has_next %}
     	 	<a id="contenedor" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
  	</li>
	</ul>
		{% if perms.inventario.delete_articulo %}
			{% block botonfinalarticulo %}
			<a id="contenedor" class="btn btn-danger" style="line-height: 15px" href="{% url 'articulo:articulo_listar_baja' %}">Ver  registros eliminados</a>
			{%endblock%}
		{% endif %}

{% endblock%}

{% block extrajs %}
<script>
	$('#buscar-articulo').keyup(function (event) {
	  var query =($('#buscar-articulo').val());
	  if ( $.trim( $('#buscar-articulo').val() ) != '' ) {
			ajax(query,"buscararticulo/");
			esconderMain();
	  }
	  else {
			mostrarMain();
	  }
	});

function mostrarMain(){
	$('#resultado-busqueda').hide();
	$('#main').show("slow");
}
function esconderMain(){
	$('#resultado-busqueda').show("slow");
	$('#main').hide();
}

function ajax(query,url){
	$.ajax({
		 type: 'GET',
		 url: url,
		 data: {
			 'csrfmiddlewaretoken': '{{ csrf_token }}',
			 'q': query,
		 },
		 success: function(data) {
			 console.log(data);
				$('#resultado-busqueda').html(data);
		 },
		 error: function(data) {
				console.log(data);
		 }
	 });
}

</script>

{% endblock %}
