{% extends 'base/base.html' %}

{% block title %}
	Alta Articulo
{% endblock %}

{% block content %}
	{% if perms.inventario.add_articulo %}
		<h2>Registrar inventario:</h2>
		<div class="mb-2">
			<form autocomplete="off" method="post">
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<div style="float: left; margin: 27px 17px;">
					<button class="btn btn-success" style="line-height: 15px" type="submit">Registrar</button>
					<a class="btn btn-danger" style="line-height: 15px" href="{% url 'articulo:articulo_listar' %}">Cancelar</a>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}
