{% extends 'articulo/articulo_listar.html' %}

{% block encabezado %}
	<h2>Inventario dado de baja:</h2>
{% endblock %}

{% if perms.inventario.delete_articulo %}
	{%block titulobajaarticulo%}
		<th>Fecha baja</th>
	{%endblock%}

	{%block campobajaarticulo%}
		<td>{{ articulo.fecha_baja_articulo }}</td>
	{%endblock%}

	{%block pruebaarticulo%}
		<a class="btn btn-primary" style="line-height: 15px" href="{% url 'articulo:articulo_restaurar' articulo.id%}">Restaurar</a>
	{%endblock%}

	{% block botonfinalarticulo %}
		<a  id="contenedor"class="btn btn-default" style="line-height: 15px" href="{% url 'articulo:articulo_listar' %}">Volver</a>
	{% endblock%}
{% endif %}
