{% if articulos %}
  {% for articulo in articulos %}
    <tr>
      <td>{{ articulo.descripcion_articulo }}</td>
      <td>{{ articulo.cantidad_articulo }}</td>
      <td>{{ articulo.nombre_unidad }}</td>
      <td>{{ articulo.precio_Compra_articulo}}</td>
      <td>{{ articulo.preeciototal}}</td>
      {%block campobajaarticulo%}
      {%endblock%}
      <td>
      {% if articulo.fecha_baja_articulo == null %}
        {% if perms.inventario.change_articulo %}
          <a class="btn btn-primary" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'articulo:articulo_editar' articulo.id%}">Editar</a>
        {% endif %}
        {% if perms.inventario.delete_articulo %}
          <a class="btn btn-danger" style="width: 80px; line-height: 5px;padding: 10px;" href="{% url 'articulo:articulo_eliminar' articulo.id%}">Eliminar</a>
        {% endif %}
      {%endif%}
      {%block pruebaarticulo%}
      {%endblock%}
      </td>
    </tr>
  {% endfor %}
{% else %}
    <td colspan="13">
      No hay artículos
    </td>
{% endif %}
  <td>
    <th></th>
    <th></th>
    <th>Total</th>
    <th>{{total2}}</th>
  </td>
